<!--
<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/centre-loisir_hero-banner.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    CONTRUCTION D'UN CENTRE DE LOISIR
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="text-xl md:text-2xl max-w-screen-md font-semibold leading-8">
    Renaitre de Nouveau entreprend la construction d'un centre de loisir avec une vision claire : <span
      class="text-yellow">offrir un
      espace sécurisé et stimulant pour les jeunes et les enfants défavorisés</span>. Ce projet ambitieux reflète
    notre
    engagement envers le bien-être des communautés que nous servons. En créant cet environnement accueillant,
    nous visons à <span class="text-yellow">fournir aux jeunes les outils nécessaires pour s'épanouir et réussir
      dans la vie</span>. Ce centre de
    loisir ne sera pas seulement un lieu de divertissement, mais aussi un <span class="text-yellow">lieu
      d'apprentissage, de développement
      personnel et de création de souvenirs précieux</span>. Renaitre de Nouveau s'engage à créer un espace où
    chaque
    enfant peut rêver grand et réaliser son plein potentiel.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/actions-projets/centre-loisir#content"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      En savoir plus
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Faire un Don
    </a>
  </div>

</div>
-->

<div class="relative bg-cover bg-center bg-no-repeat mt-44"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/centre-loisir_hero-banner.png'); background-attachment: fixed;">
  <div class="flex flex-col gap-10 px-4 pt-8 mx-auto max-w-screen-xl">
    <h1 data-aos="fade-right" class="mb-4 text-2xl md:text-5xl lg:text-6xl font-extrabold text-white">
      CONTRUCTION D'UN CENTRE DE LOISIR
    </h1>

    <p data-aos="fade" data-aos-delay="200"
      class="text-lg md:text-2xl lg:text-3xl max-w-screen-md mt-10 font-bold text-white">
      Renaitre de Nouveau entreprend la construction d'un centre de loisir avec une vision claire : <span
        class="text-yellow">offrir un
        espace sécurisé et stimulant pour les jeunes et les enfants défavorisés</span>. Ce projet ambitieux reflète
      notre
      engagement envers le bien-être des communautés que nous servons. En créant cet environnement accueillant,
      nous visons à <span class="text-yellow">fournir aux jeunes les outils nécessaires pour s'épanouir et réussir
        dans la vie</span>. Ce centre de
      loisir ne sera pas seulement un lieu de divertissement, mais aussi un <span class="text-yellow">lieu
        d'apprentissage, de développement
        personnel et de création de souvenirs précieux</span>. Renaitre de Nouveau s'engage à créer un espace où
      chaque
      enfant peut rêver grand et réaliser son plein potentiel.
    </p>

    <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
      <a data-aos="fade-right" data-aos-delay="400" href="/actions-projets/centre-loisir#content"
        class="py-2 px-5 text-lg rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium">En savoir plus</a>
      <a data-aos="fade-right" data-aos-delay="300"
        href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Faire un
        Don</a>
    </div>

  </div>
</div>

<!--
<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Notre projet de construction d'un centre de loisirs vise à offrir un espace d'épanouissement et d'encadrement
    pour les orphelins, où ils pourront s'exprimer, être écoutés et suivis sur les plans émotionnel et éducatif. Ce
    centre sera un lieu ouvert à tous les orphelins, ainsi qu'à d'autres enfants et adolescents moyennant une
    participation symbolique. Il proposera une gamme variée d'activités de loisirs et de services éducatifs, offrant
    ainsi un cadre propice à l'éveil, à la créativité et à l'apprentissage. Des bénévoles assureront des services de
    soutien scolaire et des activités ludiques telles que le sport, l'art, la musique et la lecture. Au-delà de son
    aspect récréatif, ce centre sera un lieu de rencontres et d'échanges, favorisant la vie sociale et associative
    des enfants. Notre ambition est de créer un environnement chaleureux et inclusif où chaque enfant se sentira
    soutenu et encouragé à réaliser son plein potentiel.
  </p>
</div>
-->

<div class="bg-blue-600 dark:bg-gray-900 mt-44">
  <div class="py-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col gap-10">
      <p data-aos="fade" class="text-lg md:text-xl lg:text-2xl text-white font-semibold" style="line-height: 3rem;">
        Notre projet de construction d'un centre de loisirs vise à offrir un espace d'épanouissement et d'encadrement
        pour les orphelins, où ils pourront s'exprimer, être écoutés et suivis sur les plans émotionnel et éducatif. Ce
        centre sera un lieu ouvert à tous les orphelins, ainsi qu'à d'autres enfants et adolescents moyennant une
        participation symbolique. Il proposera une gamme variée d'activités de loisirs et de services éducatifs, offrant
        ainsi un cadre propice à l'éveil, à la créativité et à l'apprentissage. Des bénévoles assureront des services de
        soutien scolaire et des activités ludiques telles que le sport, l'art, la musique et la lecture. Au-delà de son
        aspect récréatif, ce centre sera un lieu de rencontres et d'échanges, favorisant la vie sociale et associative
        des enfants. Notre ambition est de créer un environnement chaleureux et inclusif où chaque enfant se sentira
        soutenu et encouragé à réaliser son plein potentiel.
      </p>
    </div>
  </div>
</div>