<div class="flex flex-col gap-5 py-20 pd-x-2 bg-cover bg-center mt-32"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/centre-loisir_hero-banner.png'); background-attachment: fixed;">

    <h1 data-aos="fade-right" class="text-white text-2xl md:text-3xl lg:text-5xl text-center uppercase font-extrabold">
        CONTRUCTION D'UN CENTRE DE LOISIR
    </h1>

    <p data-aos="fade" data-aos-delay="400" class="text-white leading-9 text-lg">
        Renaitre de Nouveau entreprend la construction d'un centre de loisir avec une vision claire : <span
            class="text-yellow">offrir un
            espace sécurisé et stimulant pour les jeunes et les enfants défavorisés</span>. Ce projet ambitieux reflète
        notre
        engagement envers le bien-être des communautés que nous servons. En créant cet environnement accueillant,
        nous visons à <span class="text-yellow">fournir aux jeunes les outils nécessaires pour s'épanouir et réussir
            dans la vie</span>. Ce centre de
        loisir ne sera pas seulement un lieu de divertissement, mais aussi un <span class="text-yellow">lieu
            d'apprentissage, de développement
            personnel et de création de souvenirs précieux</span>. Renaitre de Nouveau s'engage à créer un espace où
        chaque
        enfant peut rêver grand et réaliser son plein potentiel.
    </p>

    <div data-aos="fade-right" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <a href="/actions-projets/centre-loisir#content"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            En savoir plus
        </a>
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
            class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
            Faire un Don
        </a>
    </div>

</div>

<div id="content" class="flex flex-col gap-10 justify-center text-center mt-20 pd-x-2 padding-y bg-blue-600 text-white">
    <p data-aos="fade" class="text">
        Notre projet de construction d'un centre de loisirs vise à offrir un espace d'épanouissement et d'encadrement
        pour les orphelins, où ils pourront s'exprimer, être écoutés et suivis sur les plans émotionnel et éducatif. Ce
        centre sera un lieu ouvert à tous les orphelins, ainsi qu'à d'autres enfants et adolescents moyennant une
        participation symbolique. Il proposera une gamme variée d'activités de loisirs et de services éducatifs, offrant
        ainsi un cadre propice à l'éveil, à la créativité et à l'apprentissage. Des bénévoles assureront des services de
        soutien scolaire et des activités ludiques telles que le sport, l'art, la musique et la lecture. Au-delà de son
        aspect récréatif, ce centre sera un lieu de rencontres et d'échanges, favorisant la vie sociale et associative
        des enfants. Notre ambition est de créer un environnement chaleureux et inclusif où chaque enfant se sentira
        soutenu et encouragé à réaliser son plein potentiel.
    </p>
</div>