<div class="bg-blue-600 mt-32 flex flex-col gap-10 padding-y pd-x-2">
    <h1 data-aos="fade-right" class="text-white text-center font-extrabold text-2xl md:text-3xl lg:text-5xl">ÉDUCATION : ILLUMINER L'AVENIR DE NOS ENFANTS
        DÉFAVORISÉS</h1>

    <p data-aos="fade-up" class="text-white leading-8">
        Notre engagement éducatif vise à soutenir chaque enfant dans son parcours d'apprentissage. De la scolarisation
        des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
        distribution de kits scolaires, nous œuvrons pour offrir à chaque enfant les opportunités nécessaires à son
        épanouissement académique.
    </p>

    <div data-aos="fade-up" class="flex gap-5 justify-center">
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/2" target="_blank" class="text-white bg-yellow-300 hover:bg-yellow-400 font-medium px-2 py-3 rounded">Soutenir les enfants</a>
    </div>
</div>

<div class="cards bg-gray-100 py-10 mt-20" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="card">
        <img src="../../../../assets/img/education1.png" alt="Image de la section scolarisation des enfants" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Scolarisation des enfants</h1>
            <p class="card-text">Nous assurons la scolarisation des enfants défavorisés et offrons des cours de soutien pour ceux en difficulté, les aidant à s'épanouir dans leur apprentissage.</p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card">
        <img src="../../../../assets/img/education2.png" alt="Image de la section scolarisation des enfants" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Apprendre c’est possible</h1>
            <p class="card-text">Notre programme d'alphabétisation est accessible à tous les enfants défavorisés ne pouvant pas fréquenter l'école régulièrement, leur offrant ainsi la possibilité d'apprendre et de se développer.</p>
        </div>
    </div>

    <div data-aos="zoom-in-right" class="card">
        <img src="../../../../assets/img/education3.png" alt="Image de la section scolarisation des enfants" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Parrainer un enfant</h1>
            <p class="card-text">Offrez un parrainage à un enfant orphelin pour lui garantir l'accès à ses droits fondamentaux et lui offrir un avenir meilleur.</p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card">
        <img src="../../../../assets/img/education4.png" alt="Image de la section scolarisation des enfants" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Don de matériel scolaire</h1>
            <p class="card-text">Contribuez à notre collecte pour offrir des kits scolaires aux enfants dans le besoin, leur permettant ainsi de mieux réussir leur scolarité et de s'épanouir dans leur éducation.</p>
        </div>
    </div>
</div>