<!--
<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
  <h1 data-aos="fade-right" class="text-white font-extrabold text-2xl md:text-3xl lg:text-5xl">ÉDUCATION : ILLUMINER
    L'AVENIR DE NOS ENFANTS
    DÉFAVORISÉS
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold "
    style="line-height: 2.5rem;">
    Notre engagement éducatif vise à <span class="text-yellow">soutenir chaque enfant dans son parcours
      d'apprentissage</span>. De la scolarisation
    des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
    distribution de kits scolaires, <span class="text-yellow">nous œuvrons pour offrir à chaque enfant les opportunités
      nécessaires à son
      épanouissement académique.</span>
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/2" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Soutenir les enfants
    </a>
  </div>
</div>

-->
<div class="pt-8 px-4 mx-auto max-w-screen-xl mt-44">
  <div class="flex flex-col gap-10">
    <h1 data-aos="fade-right" class="pb-10 text-4xl md:text-5xl lg:text-6xl font-extrabold text-yellow-300">
      ÉDUCATION : ILLUMINER L'AVENIR DE NOS ENFANTS DÉFAVORISÉS
    </h1>
  </div>
</div>

<div class="bg-blue-600 dark:bg-gray-900">
  <div class="pt-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col gap-10">

      <p data-aos="fade" data-aos-delay="200" class="text-lg md:text-xl lg:text-2xl font-medium text-white"
        style="line-height: 3rem;">
        Notre engagement éducatif vise à <span class="text-yellow">soutenir chaque enfant dans son parcours
          d'apprentissage</span>. De la scolarisation
        des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
        distribution de kits scolaires, <span class="text-yellow">nous œuvrons pour offrir à chaque enfant les
          opportunités
          nécessaires à son
          épanouissement académique</span>.
      </p>

      <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
        <a data-aos="fade-right" data-aos-delay="300"
          href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/2" target="_blank"
          class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Soutenir les
          enfants</a>
      </div>
    </div>
  </div>
</div>

<!--
<div class="cards bg-gray-100 py-10 mt-20" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/education1.png" alt="Image de la section scolarisation des enfants"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Scolarisation des enfants</h1>
      <p class="card-text">Nous assurons la scolarisation des enfants défavorisés et offrons des cours de soutien pour
        ceux en difficulté, les aidant à s'épanouir dans leur apprentissage.</p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/education2.png" alt="Image de la section scolarisation des enfants"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Apprendre c’est possible</h1>
      <p class="card-text">Notre programme d'alphabétisation est accessible à tous les enfants défavorisés ne pouvant
        pas fréquenter l'école régulièrement, leur offrant ainsi la possibilité d'apprendre et de se développer.</p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/education3.png" alt="Image de la section scolarisation des enfants"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Parrainer un enfant</h1>
      <p class="card-text">Offrez un parrainage à un enfant orphelin pour lui garantir l'accès à ses droits fondamentaux
        et lui offrir un avenir meilleur.</p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/education4.png" alt="Image de la section scolarisation des enfants"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Don de matériel scolaire</h1>
      <p class="card-text">Contribuez à notre collecte pour offrir des kits scolaires aux enfants dans le besoin, leur
        permettant ainsi de mieux réussir leur scolarité et de s'épanouir dans leur éducation.</p>
    </div>
  </div>
</div>
-->

<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16" style="overflow-x: hidden;">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 ">

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left" class="mb-2 p-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        SCOLARISATION DES ENFANTS
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/education1.png" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nous assurons la scolarisation des enfants
          défavorisés et offrons des cours de soutien pour ceux en difficulté, les aidant à s'épanouir dans leur
          apprentissage.</p>
      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left" class="mb-2 p-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        APPRENDRE C’EST POSSIBLE
      </h5>

      <img class="rounded-lg p-4 h-2/4 w-full" src="../../../../assets/img/education2.png" alt="" />

      <div class="p-5">

        <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400">Notre programme d'alphabétisation
          est accessible à
          tous les enfants défavorisés ne pouvant pas fréquenter l'école régulièrement, leur offrant ainsi la
          possibilité d'apprendre et de se développer.
        </p>

      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">PARRAINER UN ENFANT
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/education3.png" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Offrez un parrainage à un enfant orphelin pour lui
          garantir l'accès à ses droits fondamentaux et lui offrir un avenir meilleur.
        </p>
      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">DON DE MATÉRIEL
        SCOLAIRE
      </h5>

      <img class="rounded-lg p-4 " src="../../../../assets/img/education4.png" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Contribuez à notre collecte pour
          offrir des kits
          scolaires aux enfants dans le besoin, leur permettant ainsi de mieux réussir leur scolarité et de s'épanouir
          dans leur éducation.
        </p>
      </div>
    </div>

  </div>
</div>