<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_agir-don.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    DÉCOUVREZ COMMENT VOUS POUVEZ SOUTENIR LES PERSONNES DÉMUNIS.
  </h1>

  <p data-aos="fade" data-aos-delay="500"
    class="text-lg md:text-2xl lg:text-3xl max-w-screen-md font-semibold leading-8">
    Découvrez comment soutenir Renaitre de Nouveau et aider les personnes dans le besoin. Chaque geste, qu'il
    soit <span class="text-yellow">financier, bénévole ou de sensibilisation</span>, compte pour créer un impact
    positif dans notre société.
    Rejoignez-nous dans <span class="text-yellow">notre mission de redonner espoir et dignité aux plus
      vulnérables</span>.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/agir-don#content"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      En savoir plus
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Faire un Don
    </a>
  </div>

</div>

<div id="content" class="mb-4 border-b border-gray-200 dark:border-gray-700 pd-x-2">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
    data-tabs-toggle="#default-tab-content" role="tablist">
    <li class="me-2" role="presentation">
      <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile"
        type="button" role="tab" aria-controls="profile" aria-selected="false">Devenir Partenaire</button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
        aria-selected="false">Devenir Parrain</button>
    </li>
    <li class="me-2" role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
        aria-selected="false">Devenir Adhérent</button>
    </li>
    <li role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts"
        aria-selected="false">Devenir Bénévole</button>
    </li>
    <li role="presentation">
      <button
        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        id="cmission-tab" data-tabs-target="#mission" type="button" role="tab" aria-controls="mission"
        aria-selected="false">Participer à une Mission</button>
    </li>
  </ul>
</div>

<div data-aos="fade" id="default-tab-content" class="pd-x-2">
  <div class="hidden bg-blue-600" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
          <h1 class="mb-4 text-2xl md:text-3xl lg:text-4xl font-extrabold tracking-tight leading-none text-blue-600">
            Soutenez Notre Mission avec Renaitre de Nouveau
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-500 lg:text-lg dark:text-gray-400">
            Si vous êtes une entreprise ou un professionnel souhaitant nous accompagner dans notre mission,
            n'hésitez pas à nous contacter. Nous sommes ouverts à tout type de mécénat, que ce soit
            financier, en nature ou basé sur des compétences.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
            <a href="/contact"
              class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Nous contacter

            </a>
          </div>
        </div>
        <div>
          <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
            src="../../../assets/img/agir-don-partenaire.png" alt="Image agir et don">
        </div>
      </div>
    </div>

  </div>

  <div data-aos="fade" class="hidden bg-blue-600" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
          <h1 class="mb-4 text-2xl md:text-3xl lg:text-4xl  font-extrabold tracking-tight leading-none text-blue-600">
            Transformez des Vies avec Renaitre de Nouveau
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-500 lg:text-lg dark:text-gray-400">
            En tant que parrain/marraine, vous transformez des vies en offrant une éducation de qualité et
            en soutenant l'autonomie des jeunes. Votre engagement financier à partir de 32 euros par mois
            permet de concrétiser ces aspirations. Parrainer une veuve pour 100 euros lui offre également
            une opportunité de prendre en main son avenir. Notre programme favorise des liens durables grâce
            à une correspondance régulière et des rencontres sur place avec nos équipes. Votre soutien
            continu est crucial pour maintenir la motivation et l'espoir de vos filleul(e)s.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
            <a href="/contact"
              class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Nous contacter

            </a>
          </div>
        </div>
        <div>
          <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
            src="../../../assets/img/agir-don-parrainage.png" alt="Image agir et don">
        </div>
      </div>
    </div>
  </div>

  <div class="hidden bg-blue-600" id="settings" role="tabpanel" aria-labelledby="settings-tab">
    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
          <h1 class="mb-4 text-2xl md:text-3xl lg:text-4xl  font-extrabold tracking-tight leading-none text-blue-600">
            Soutenez nos Actions en Contribuant à Notre Association
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-500 lg:text-lg dark:text-gray-400">
            Vous avez la possibilité de soutenir nos initiatives en devenant membre adhérent de notre
            association. En adhérant, vous recevrez régulièrement les bulletins d'informations de
            l'association et aurez le droit de voter lors des assemblées générales, vous permettant ainsi de
            participer activement à nos décisions et orientations futures. Les frais d'adhésion s'élèvent à
            10 euros, avec une cotisation mensuelle de 10 euros, offrant ainsi une manière simple et
            concrète de contribuer à nos actions et de prendre part à notre engagement commun pour un monde
            meilleur.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
            <a href="../../../assets/form-adhesion.pdf" target="_blank"
              class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Formulaire d'adhésion

            </a>
          </div>
        </div>
        <div>
          <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
            src="../../../assets/img/agir-don-adherent.png" alt="Image agir et don">
        </div>
      </div>
    </div>
  </div>

  <div class="hidden bg-blue-600" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-blue-600">
            Ensemble, Faisons une Différence dans Notre Communauté
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-500 lg:text-lg dark:text-gray-400">
            Nous serions ravis de compter sur votre aide pour participer à nos diverses missions et projets.
            N'hésitez surtout pas à nous contacter pour en savoir plus sur nos actions et sur la manière
            dont vous pouvez y contribuer. Votre engagement et votre soutien sont précieux pour nous aider à
            réaliser nos objectifs et à avoir un impact positif dans notre communauté.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
            <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau" target="_blank"
              class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Faire un Don

            </a>
          </div>
        </div>
        <div>
          <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
            src="../../../assets/img/agir-don-benevole.png" alt="Image agir et don">
        </div>
      </div>
    </div>
  </div>

  <div class="hidden bg-blue-600" id="mission" role="tabpanel" aria-labelledby="mission-tab">
    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
          <h1 class="mb-4 text-2xl md:text-3xl lg:text-4xl  font-extrabold tracking-tight leading-none text-blue-600">
            Engagez-vous dans le Bénévolat International et Partagez Vos Compétences
          </h1>
          <p class="mb-8 text-lg font-normal text-gray-500 lg:text-lg dark:text-gray-400">
            Si vous aspirez à vous engager dans une mission de bénévolat international et à partager vos
            compétences, nous sommes là pour vous accueillir. Renaitre de Nouveau recherche activement des
            entreprises et des professionnels qui souhaitent nous accompagner dans la réussite de nos
            missions. Que vous soyez un expert dans votre domaine, un entrepreneur chevronné ou simplement
            désireux de partager vos connaissances, votre contribution est précieuse pour nous aider à
            réaliser nos objectifs. Contactez-nous dès aujourd'hui pour en savoir plus sur les opportunités
            de collaboration et sur la manière dont vous pouvez contribuer à notre cause.
          </p>
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
            <a href="/contact"
              class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Nous contacter

            </a>
          </div>
        </div>
        <div>
          <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
            src="../../../assets/img/agir-don-mission.png" alt="Image agir et don">
        </div>
      </div>
    </div>
  </div>
</div>