<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="../../../assets/img/renaitre-de-nouveau_logo.svg" class="h-16" alt="Flowbite Logo" />
    </a>

    <div class="flex gap-2">
      <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
        class="lg:flex gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 md:px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><span
          class="max-md:hidden">Faire un</span>Don</button>
      <button data-modal-target="default-modal" data-modal-toggle="default-modal" type="button"
        class="lg:block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">J'achète
        solidaire</button>

      <button data-collapse-toggle="navbar-hamburger" type="button"
        class="inline-flex items-center justify-center p-2 w-10 h-10 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-hamburger" aria-expanded="false">
        <span class="sr-only">Ouvrir le menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>

    <div class="hidden w-full" id="navbar-hamburger">
      <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">

        <li>
          <button id="dropdownNavbarLink1" data-dropdown-toggle="dropdownNavbar1"
            class="flex items-center py-2 px-3 w-full text-gray-900 hover:text-white rounded hover:bg-blue-600 dark:text-gray-400 dark:hover:bg-gray-700"
            aria-current="page">
            Renaître de Nouveau

            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div id="dropdownNavbar1"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a href="/qui-sommes-nous"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Qui
                  sommes nous</a>
              </li>

              <li>
                <a href="/missions-et-valeurs"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Missions
                  & Valeurs</a>
              </li>

              <li>
                <a href="/charte"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Notre
                  Charte</a>
              </li>

              <li>
                <a href="/zone-intervention"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Zone
                  d'Intervention</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
            class="flex items-center py-2 px-3 w-full text-gray-900 hover:text-white rounded hover:bg-blue-600 dark:text-gray-400 dark:hover:bg-gray-700"
            aria-current="page">
            Actions & Projets

            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 4 4 4-4" />
            </svg>
          </button>

          <!-- Dropdown menu -->
          <div id="dropdownNavbar"
            class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
              <li>
                <a href="/actions-projets/education"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Education</a>
              </li>

              <li>
                <a href="/actions-projets/formation"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Formations
                  & Insertion Professionnelle</a>
              </li>

              <li>
                <a href="/actions-projets/sante"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Santé</a>
              </li>

              <li>
                <a href="/actions-projets/securite"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sécurité
                  & Moyens de Subsistance</a>
              </li>

              <li>
                <a href="/actions-projets/sans-abris"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Les
                  sans abris</a>
              </li>

              <li>
                <a href="/actions-projets/centre-loisir"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Centre
                  de Loisir</a>
              </li>
            </ul>

            <div class="py-1">
              <a href="/actions-projets/galerie-photos"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Galerie
                Photos</a>
            </div>
          </div>
        </li>

        <li>
          <a href="/equipe"
            class="block py-2 px-3 text-gray-900 hover:text-white rounded hover:bg-blue-600 dark:text-gray-400 dark:hover:bg-gray-700">Équipe</a>
        </li>
        <li>
          <a href="/contact"
            class="block py-2 px-3 text-gray-900 hover:text-white rounded hover:bg-blue-600 dark:text-gray-400 dark:hover:bg-gray-700">Contact</a>
        </li>
        <li>
          <a href="/evenements"
            class="block py-2 px-3 text-gray-900 hover:text-white rounded hover:bg-blue-600 dark:text-gray-400 dark:hover:bg-gray-700">Événements</a>
        </li>
      </ul>
    </div>
  </div>
</nav>