<div class="bg-blue-600 mt-32 flex flex-col gap-10 padding-y pd-x-2">
    <h1 class="text-white text-center font-extrabold text-2xl md:text-3xl lg:text-5xl">
        Changer des vies à travers le monde
    </h1>

    <p class="text-white leading-8">
        Renaitre de Nouveau s'engage à <span class="text-yellow">transformer des vies à travers le mondes</span> en menant des actions concrètes au Bénin
        et en France. Notre organisation œuvre sans relâche pour venir en <span class="text-yellow">aide aux personnes démunies, offrant un
        soutien essentiel aux orphelins, aux jeunes en difficulté et aux veuves en situation précaire</span>. Grâce à nos
        initiatives humanitaires et à notre engagement communautaire, nous apportons un <span class="text-yellow">souffle d'espoir là où il est le
            plus nécessaire</span>, transformant ainsi les destins et laissant une empreinte positive dans le monde entier.
    </p>

    <div class="flex max-md:flex-col gap-5 justify-center">
            <button class="py-3 px-5 sm:ms-4 text-sm font-medium text-white bg-yellow-300 rounded-lg hover:bg-yellow-400" (click)="showFrance()">Voir la France</button>
            <button class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100" (click)="showBenin()">Voir le Bénin</button>
    </div>
</div>

<div class="flex items-center justify-center mt-10">
    <img *ngIf="showFranceFrame" src="../../../../assets/img/france.png" alt="" class="w-11/12 md:w-5/6">
    <img *ngIf="showBeninFrame" src="../../../../assets/img/bénin.png" alt="" class="md:w-2/6">
</div>