<div class="bg-cover bg-center mt-20"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/hero-banner_sante.png'); background-attachment: fixed;">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Nouvel
            espoir pour les personnes démunies</h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            Renaitre de Nouveau <span class="text-yellow">offre un nouveau départ aux plus vulnérables de notre société</span>. Nous accompagnons les
            orphelins, les jeunes et les veuves avec compassion et détermination, <span class="text-yellow">leur offrant un refuge et un soutien
            holistique</span>. Notre mission est de leur redonner espoir et dignité, en les aidant à reconstruire leur vie avec
            confiance et détermination. <span class="text-yellow">Ensemble, nous créons un avenir où chacun peut renaître de ses cendres et
            retrouver sa place dans la société</span>.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Nous soutenir
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            <a href="#"
                class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Faire un Don
            </a>
        </div>
    </div>
</div>

<div class="flex flex-col gap-10 justify-center text-center mt-20 padding-x padding-y bg-blue-600 text-white">
    <p class="text">
        Notre engagement éducatif vise à soutenir chaque enfant dans son parcours d'apprentissage. De la scolarisation
        des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
        distribution de kits scolaires, nous œuvrons pour offrir à chaque enfant les opportunités nécessaires à son
        épanouissement académique.
    </p>

    <div>
        <a href="#"
            class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
            Soutenir une action
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</div>