<!--
<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_sante.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    Nouvel espoir pour les personnes démunies
  </h1>

  <p data-aos="fade" data-aos-delay="500"
    class="text-lg md:text-2xl lg:text-3xl max-w-screen-md font-semibold leading-8">
    Renaitre de Nouveau <span class="text-yellow">offre un nouveau départ aux plus vulnérables de notre société</span>.
    Nous accompagnons les
    orphelins, les jeunes et les veuves avec compassion et détermination, <span class="text-yellow">leur offrant un
      refuge et un soutien
      holistique</span>. Notre mission est de leur redonner espoir et dignité, en les aidant à reconstruire leur vie
    avec
    confiance et détermination. <span class="text-yellow">Ensemble, nous créons un avenir où chacun peut renaître de ses
      cendres et
      retrouver sa place dans la société</span>.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/actions-projets/sante#content"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      En savoir plus
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Faire un Don
    </a>
  </div>

</div>
-->

<div class="relative bg-cover bg-center bg-no-repeat mt-44"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_sante.png'); background-attachment: fixed;">
  <div class="flex flex-col gap-10 px-4 pt-8 mx-auto max-w-screen-xl">
    <h1 class="mb-4 text-2xl md:text-5xl lg:text-6xl font-extrabold text-white">
      Santé : pilier fondamental pour le bien-être et l'autonomie des personnes démunies
    </h1>

    <p class="text-lg md:text-2xl lg:text-3xl max-w-screen-md mt-10 font-bold text-white">
      En 2019, on estime que 5,2 millions d’enfants âgés de moins de 5 ans ainsi que 500.000 enfants sont morts le plus
      souvent de maladies qui pourraient être évitées ou traitées
      <a href="https://www.who.int/fr/news-room/fact-sheets/detail/children-reducing-mortality"
        class="underline text-blue-700">(https://www.who.int/fr/news-room/fact-sheets/detail/children-reducing-mortality).</a>
      Ainsi nos projets dans le domaine de la santé permettent d’améliorer la sécurité sanitaire de ces démunis.
    </p>

    <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
      <a href="/actions-projets/sante#content"
        class="py-2 px-5 text-lg rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium">En savoir plus</a>
      <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Faire un
        Don</a>
    </div>

  </div>
</div>

<!--
<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Notre engagement éducatif vise à soutenir chaque enfant dans son parcours d'apprentissage. De la scolarisation
    des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
    distribution de kits scolaires, nous œuvrons pour offrir à chaque enfant les opportunités nécessaires à son
    épanouissement académique.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/agir-don"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Soutenir une action
    </a>

  </div>
</div>
-->

<div class="bg-blue-600 dark:bg-gray-900 mt-44">
  <div class="pt-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col gap-10">
      <p class="text-lg md:text-xl lg:text-2xl font-medium text-white" style="line-height: 3rem;">
        Notre engagement éducatif vise à soutenir chaque enfant dans son parcours d'apprentissage. De la scolarisation
        des enfants défavorisés au soutien scolaire pour ceux en difficulté, en passant par l'alphabétisation et la
        distribution de kits scolaires, nous œuvrons pour offrir à chaque enfant les opportunités nécessaires à son
        épanouissement académique.
      </p>

      <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/2" target="_blank"
          class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Soutenir les
          enfants</a>
      </div>
    </div>
  </div>
</div>

<div id="content" class="cards bg-gray-100 py-10 mt-20" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/sante-sensibilisation.png" alt="Image section sensibilisation" class="card-img">

    <div class="card-content">
      <h1 class="card-title">Sensibilisation accrue</h1>
      <p class="card-text">
        Nous organisons des campagnes et des formations sur des sujets cruciaux tels que la santé sexuelle et
        reproductive, l'hygiène et l'assainissement, la prévention des mariages précoces, ainsi que la lutte contre
        l'exploitation et la traite des enfants.
      </p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/sante-prise-en-charge.png" alt="Image section prise en charge médicale"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Prise en charge médicale</h1>
      <p class="card-text">
        Nous assurons des soins médicaux essentiels aux personnes défavorisées, en mettant un accent particulier sur le
        suivi de la santé des enfants, garantissant ainsi leur bien-être global.
      </p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/sante-formation.png" alt="Image section formation" class="card-img">

    <div class="card-content">
      <h1 class="card-title">Formation du personnel médical</h1>
      <p class="card-text">
        Nous investissons dans la formation et le renforcement des compétences du personnel soignant, afin de garantir
        des services de santé de qualité et accessibles à tous.
      </p>
    </div>
  </div>
</div>