<!--
<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_securite.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    NOTRE COMBAT POUR LA SÉCURITÉ ET LA SUBSISTANCE
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="text-xl md:text-2xl max-w-screen-md font-semibold leading-8">
    Chez Renaitre de Nouveau, notre engagement se cristallise autour d'un seul objectif : <span
      class="text-yellow">protéger, soutenir et
      éclairer ceux qui sont dans le besoin</span>. À travers nos actions, nous combattons sans relâche pour
    <span class="text-yellow">garantir la
      écurité et la subsistance des communautés les plus vulnérables</span>. Que ce soit en offrant un refuge
    aux
    orphelins, en soutenant l'éducation des jeunes ou en fournissant des moyens de subsistance aux veuves, notre
    mission est de <span class="text-yellow">créer un environnement où chacun peut s'épanouir en toute
      sécurité</span>. Ensemble, nous
    travaillons à éclairer l'avenir, offrant ainsi un nouvel espoir à ceux qui en ont le plus besoin.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/actions-projets/securite#content"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      En savoir plus
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Faire un Don
    </a>
  </div>

</div>
-->

<div class="relative bg-cover bg-center bg-no-repeat mt-44"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_securite.png'); background-attachment: fixed;">
  <div class="flex flex-col gap-10 px-4 pt-8 mx-auto max-w-screen-xl">
    <h1 data-aos="fade-right" class="mb-4 text-2xl md:text-5xl lg:text-6xl font-extrabold text-white">
      NOTRE COMBAT POUR LA SÉCURITÉ ET LA SUBSISTANCE
    </h1>

    <p data-aos="fade" data-aos-delay="200"
      class="text-lg md:text-2xl lg:text-3xl max-w-screen-md mt-10 font-bold text-white">
      En combinant la distribution de nourriture, le développement agricole, la formation professionnelle, le soutien à
      l'entrepreneuriat, et des programmes spécifiques pour les groupes les plus vulnérables, <span
        class="text-yellow">l'association
        travaille à
        créer des conditions où les bénéficiaires peuvent devenir autonomes, économiquement indépendants, et capables de
        subvenir à leurs besoins essentiels.</span> Ces initiatives contribuent à la réduction de la pauvreté et à
      l'amélioration
      de la qualité de vie des communautés soutenues.
    </p>

    <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
      <a data-aos="fade-right" data-aos-delay="400" href="/actions-projets/securite#content"
        class="py-2 px-5 text-lg rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium">En savoir plus</a>
      <a data-aos="fade-right" data-aos-delay="300"
        href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Faire un
        Don</a>
    </div>

  </div>
</div>

<!--
<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Dans un monde où la précarité menace l'avenir de millions de personnes, notre engagement est clair : offrir un
    rayon de lumière dans les moments les plus sombres. Nous travaillons sans relâche pour assurer la sécurité et la
    subsistance des plus vulnérables, offrant un refuge contre la faim, la maladie et le désespoir. Rejoignez-nous
    dans cette mission vitale et redonnez de l'espoir à ceux qui en ont le plus besoin.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/agir-don"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Soutenir une action
    </a>

  </div>
</div>
-->

<div class="bg-blue-600 dark:bg-gray-900 mt-44">
  <div class="pt-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col gap-10">
      <p data-aos="fade" class="text-2xl md:text-3xl lg:text-4xl font-medium text-white" style="line-height: 3rem;">
        Un enfant de moins de 5 ans meurt de faim toutes les 11 secondes d'après le programme alimentaire mondial (WFP).
        Et 854 millions de personnes sont sous-alimentées dans le monde et que la hausse des prix risque de faire
        basculer 100 millions de personnes supplémentaires dans la pauvreté et la faim (rapport des Nations Unies).
      </p>

      <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
        <a data-aos="fade-right" data-aos-delay="200" href="/agir-don"
          class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Soutenir une
          action</a>
      </div>
    </div>
  </div>
</div>


<!--
  <h1 id="content" data-aos="fade-right"
  class="mt-20 text-center text-2xl md:text-3xl lg:text-4xl md:mx-20 font-extrabold">
  DISTRIBUTION DE COLIS ALIMENTAIRES ET DE KITS VESTIMENTAIRES
</h1>

<div class="cards bg-gray-100 py-10 mt-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/securite-colis.png" alt="Image section sensibilisation" class="card-img">

    <div class="card-content">
      <h1 class="card-title">Colis Alimentaire</h1>
      <p class="card-text">
        Chaque 11 secondes, un enfant de moins de 5 ans succombe à la faim, selon le Programme Alimentaire Mondial. Avec
        854 millions de personnes sous-alimentées dans le monde, chaque geste compte pour lutter contre ce fléau. Notre
        mission est de distribuer des colis alimentaires aux orphelins et aux familles démunies, offrant ainsi un repas
        vital et un rayon de lumière dans l'obscurité de la faim.
      </p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/securite-nourir-espoir.png" alt="Image section prise en charge médicale"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">Nourir l'espoir</h1>
      <p class="card-text">
        Chaque jour, des milliers d'enfants luttent contre la faim, une bataille que beaucoup perdent. Selon le
        Programme Alimentaire Mondial, un enfant de moins de 5 ans meurt de faim toutes les 11 secondes. Cette réalité
        choquante nous rappelle l'urgence d'agir. Notre programme "Un Enfant, Un Déjeuner" vise à offrir un repas vital
        à ces enfants affamés, réduisant ainsi la mortalité infantile, favorisant une croissance saine et améliorant les
        capacités d'apprentissage.
      </p>
    </div>
  </div>
</div>

<h1 data-aos="fade-right" class="mt-20 text-center text-2xl md:text-3xl lg:text-4xl mx-10 md:mx-20 font-extrabold">
  UN ENFANT, UN DÉJEUNER, UN COMBAT POUR LA VIE
</h1>

<div class="cards bg-gray-100 py-10 mt-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/securite-don.png" alt="Image section sensibilisation" class="card-img">

    <div class="card-content">
      <h1 class="card-title">UN PETIT DON, UN GRAND IMPACT</h1>
      <p class="card-text">
        Avec seulement 46 centimes par jour, soit 2.30 euros par semaine, ou 96.6 euros par an, vous pouvez nourrir un
        enfant affamé et lui offrir un avenir plus prometteur. Chaque contribution compte. De plus, en participant à ce
        programme, vous bénéficiez d'une réduction d'impôt de 75%, ce qui signifie que pour chaque 100 euros donnés,
        cela ne vous coûte que 25 euros. Votre petit geste peut faire une grande différence dans la vie d'un enfant.
      </p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/securite-mettre-faim.png" alt="Image section prise en charge médicale"
      class="card-img">

    <div class="card-content">
      <h1 class="card-title">METTRE FIN À LA FAIM, UNE PRIORITÉ INCONTOURNABLE</h1>
      <p class="card-text">
        Il est impératif de mettre fin aux décès évitables causés par la faim. Avec des millions d'enfants mourant
        chaque année de faim et de malnutrition, il est temps d'agir. En participant à notre programme "Un Enfant, Un
        Déjeuner", vous contribuez à sauver des vies et à offrir un avenir plus prometteur à ces enfants vulnérables.
        Rejoignez-nous dans cette lutte pour la vie et la dignité humaine.
      </p>
    </div>
  </div>
</div>
-->

<div id="content" class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 mt-10" style="overflow-x: hidden;">

  <h5 data-aos="fade-right" class="text-2xl md:text-3xl lg:text-4xl font-extrabold text-gray-800 mt-8">Sécurité
    Alimentaire
  </h5>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <h5 data-aos="fade-left" data-aos-delay="200"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">Sécurité
        Alimentaire
      </h5>
      <img class="rounded-lg p-4 h-3/6 w-full" src="../../../../assets/img/sante-sensibilisation.png" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Distribution de colis
            alimentaires</span>
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Cultures Collectives et
            Ateliers de Jardinage :
          </span>
          Mise en place de jardins où les bénéficiaires peuvent cultiver leurs propres fruits et légumes, et Formation
          des bénéficiaires aux techniques de jardinage et d'agriculture urbaine.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Cultures Collectives et
            Éducation Nutritionnelle :
          </span>
          Sessions d'éducation pour enseigner les principes d'une alimentation équilibrée et saine.
        </p>
      </div>
    </div>
  </div>

  <h5 data-aos="fade-right" class="text-2xl md:text-3xl lg:text-4xl font-extrabold text-gray-800 mt-8">Moyens de
    Subsistance
  </h5>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left" data-aos-delay="200"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">
        Formation Professionnelle et Éducation
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/ophelin-soutien-educatif.jpg" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Cours de Formation :
          </span>
          Formation dans divers métiers comme la couture, la menuiserie, l'informatique, la cuisine, etc.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes
            d'Alphabétisation
            :</span> Cours pour améliorer les compétences en lecture et écriture, essentiels pour l'emploi et la gestion
          des affaires.

        </p>
      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left" data-aos-delay="200"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">
        Microcrédit et Soutien à l'Entrepreneuriat
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-psychosocial.jpg" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Microcrédits
            :</span>
          Octroi de petits prêts pour aider les bénéficiaires à lancer ou à développer de petites entreprises.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Formation en Gestion
            d'Entreprise
            :</span>
          Ateliers sur la gestion financière, le marketing, et la planification des affaires.


        </p>
      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">
        Développement Agricole
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-psychosocial.jpg" alt="" />

      <div class="p-5">


      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">
        Projets Agricoles
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-psychosocial.jpg" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Agriculture Durable
            :</span>
          Promotion de pratiques agricoles durables et respectueuses de l'environnement.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Coopératives Agricoles
            d'Entreprise
            :</span>
          Formation de coopératives permettant de collaborer et de maximiser les rendements.
        </p>
      </div>
    </div>

    <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 data-aos="fade-left"
        class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-gray-900 dark:text-white">
        Accès aux Ressources
      </h5>

      <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-psychosocial.jpg" alt="" />

      <div data-aos="fade" class="p-5">

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Fourniture de Semences et
            d'Outils
            :</span>
          Distribution de semences de qualité, d'engrais et d'outils agricoles pour améliorer la production.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Accès à l'Eau et à
            l'Irrigation
            :</span>
          Installation de systèmes d'irrigation pour assurer une agriculture durable même en période de sécheresse.
        </p>
      </div>
    </div>
  </div>
</div>