<div class="flex flex-col gap-5 bg-cover bg-center py-20 mt-32"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/hero-banner_securite.png'); background-attachment: fixed;"
>

    <h1 data-aos="fade-right" class="text-white text-2xl md:text-3xl lg:text-5xl text-center font-extrabold">NOTRE COMBAT POUR LA SÉCURITÉ ET LA SUBSISTANCE</h1>

    <p data-aos="fade" data-aos-delay="400" class="text-white px-4 md:px-8 lg:px-28 text-lg leading-9">
        Chez Renaitre de Nouveau, notre engagement se cristallise autour d'un seul objectif : <span
                class="text-yellow">protéger, soutenir et
                éclairer ceux qui sont dans le besoin</span>. À travers nos actions, nous combattons sans relâche pour
            <span class="text-yellow">garantir la
                écurité et la subsistance des communautés les plus vulnérables</span>. Que ce soit en offrant un refuge
            aux
            orphelins, en soutenant l'éducation des jeunes ou en fournissant des moyens de subsistance aux veuves, notre
            mission est de <span class="text-yellow">créer un environnement où chacun peut s'épanouir en toute
                sécurité</span>. Ensemble, nous
            travaillons à éclairer l'avenir, offrant ainsi un nouvel espoir à ceux qui en ont le plus besoin.
    </p>

    <div data-aos="fade-right" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
        <a href="/actions-projets/securite#content"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            En savoir plus
        </a>
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
            class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
            Faire un Don
        </a>
    </div>

</div>

<div class="flex flex-col gap-10 justify-center text-center mt-20 px-4 md:px-8 lg:px-28 padding-y bg-blue-600 text-white">
    <p data-aos="fade" class="text">
        Dans un monde où la précarité menace l'avenir de millions de personnes, notre engagement est clair : offrir un
        rayon de lumière dans les moments les plus sombres. Nous travaillons sans relâche pour assurer la sécurité et la
        subsistance des plus vulnérables, offrant un refuge contre la faim, la maladie et le désespoir. Rejoignez-nous
        dans cette mission vitale et redonnez de l'espoir à ceux qui en ont le plus besoin.
    </p>

    <div data-aos="fade-right">
        <a href="/agir-don"
            class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
            Soutenir une action
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</div>

<h1 id="content" data-aos="fade-right" class="mt-20 text-center text-2xl md:text-3xl lg:text-4xl md:mx-20 font-extrabold">
    DISTRIBUTION DE COLIS ALIMENTAIRES ET DE KITS VESTIMENTAIRES
</h1>

<div class="cards bg-gray-100 py-10 mt-10" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="card">
        <img src="../../../../assets/img/securite-colis.png" alt="Image section sensibilisation"
            class="card-img">

        <div class="card-content">
            <h1 class="card-title">Colis Alimentaire</h1>
            <p class="card-text">
                Chaque 11 secondes, un enfant de moins de 5 ans succombe à la faim, selon le Programme Alimentaire Mondial. Avec 854 millions de personnes sous-alimentées dans le monde, chaque geste compte pour lutter contre ce fléau. Notre mission est de distribuer des colis alimentaires aux orphelins et aux familles démunies, offrant ainsi un repas vital et un rayon de lumière dans l'obscurité de la faim.
            </p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card">
        <img src="../../../../assets/img/securite-nourir-espoir.png" alt="Image section prise en charge médicale"
            class="card-img">

        <div class="card-content">
            <h1 class="card-title">Nourir l'espoir</h1>
            <p class="card-text">
                Chaque jour, des milliers d'enfants luttent contre la faim, une bataille que beaucoup perdent. Selon le Programme Alimentaire Mondial, un enfant de moins de 5 ans meurt de faim toutes les 11 secondes. Cette réalité choquante nous rappelle l'urgence d'agir. Notre programme "Un Enfant, Un Déjeuner" vise à offrir un repas vital à ces enfants affamés, réduisant ainsi la mortalité infantile, favorisant une croissance saine et améliorant les capacités d'apprentissage.
            </p>
        </div>
    </div>
</div>

<h1 data-aos="fade-right" class="mt-20 text-center text-2xl md:text-3xl lg:text-4xl mx-10 md:mx-20 font-extrabold">
    UN ENFANT, UN DÉJEUNER, UN COMBAT POUR LA VIE
</h1>

<div class="cards bg-gray-100 py-10 mt-10" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="card">
        <img src="../../../../assets/img/securite-don.png" alt="Image section sensibilisation"
            class="card-img">

        <div class="card-content">
            <h1 class="card-title">UN PETIT DON, UN GRAND IMPACT</h1>
            <p class="card-text">
                Avec seulement 46 centimes par jour, soit 2.30 euros par semaine, ou 96.6 euros par an, vous pouvez nourrir un enfant affamé et lui offrir un avenir plus prometteur. Chaque contribution compte. De plus, en participant à ce programme, vous bénéficiez d'une réduction d'impôt de 75%, ce qui signifie que pour chaque 100 euros donnés, cela ne vous coûte que 25 euros. Votre petit geste peut faire une grande différence dans la vie d'un enfant.
            </p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card">
        <img src="../../../../assets/img/securite-mettre-faim.png" alt="Image section prise en charge médicale"
            class="card-img">

        <div class="card-content">
            <h1 class="card-title">METTRE FIN À LA FAIM, UNE PRIORITÉ INCONTOURNABLE</h1>
            <p class="card-text">
                Il est impératif de mettre fin aux décès évitables causés par la faim. Avec des millions d'enfants mourant chaque année de faim et de malnutrition, il est temps d'agir. En participant à notre programme "Un Enfant, Un Déjeuner", vous contribuez à sauver des vies et à offrir un avenir plus prometteur à ces enfants vulnérables. Rejoignez-nous dans cette lutte pour la vie et la dignité humaine.
            </p>
        </div>
    </div>
</div>