<div class="bg-cover bg-center mt-32" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/hero-banner_missions-et-valeurs2.png'); background-attachment: fixed;" >
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32" style="overflow-x: hidden;">
        <h1 data-aos="fade-right" class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Notre Mission, Valoriser le potentiel humain</h1>
        <p data-aos="fade" data-aos-delay="400" class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Notre mission est d'insuffler <span class="text-yellow">un nouvel espoir dans la vie de ceux qui se sentent perdus</span>, leur montrant que rien n'est jamais vraiment terminé. Nous nous engageons à accompagner chaque personne vers l'autonomie, en prenant soin de considérer toutes les facettes de leur identité, que ce soit <span class="text-yellow">un orphelin, une veuve ou un jeune sans abri.</span></p>
        <div data-aos="fade-up" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/missions-et-valeurs/#valeurs" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                Notre charte
            </a>
            <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Faire un Don
            </a>  
        </div>
    </div>
</div>


<div id="valeurs" class="cards-secondary mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="card-secondary">
        <img src="../../../../assets/img/amour_valeurs.png" alt="" class="card-img-secondary">

        <div class="card-content-secondary">
            <h1 class="card-title-secondary">L'amour</h1>
            <p class="card-text-secondary">Nous croyons en cet amour qui nous donne de pourvoir aimer l’autre comme nous même. Il nous amène à rechercher leur intérêt.</p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card-secondary">
        <img src="../../../../assets/img/foi_valeurs.png" alt="" class="card-img-secondary">

        <div class="card-content-secondary">
            <h1 class="card-title-secondary">La Foi</h1>
            <p class="card-text-secondary">Croire que tout est possible, que je peux renaître de nouveau, que tout peut encore changer.</p>
        </div>
    </div>

    <div data-aos="zoom-in-right" class="card-secondary">
        <img src="../../../../assets/img/esperance_valeurs.png" alt="" class="card-img-secondary">

        <div class="card-content-secondary">
            <h1 class="card-title-secondary">L'Esperance</h1>
            <p class="card-text-secondary">Garder espoir sans jamais perdre courage, et persévérer même lorsque les défis semblent insurmontables.</p>
        </div>
    </div>

    <div data-aos="zoom-in-right" class="card-secondary">
        <img src="../../../../assets/img/joie_valeurs.png" alt="" class="card-img-secondary">

        <div class="card-content-secondary">
            <h1 class="card-title-secondary">La Joie</h1>
            <p class="card-text-secondary">La joie de voir les cœurs tristes se réjouir encore et le sourire revenir sur leurs lèvres</p>
        </div>
    </div>
</div>