<h1 class="text-3xl md:text-4xl lg:text-5xl text-center mt-32 mb-12 font-extrabold uppercase text-blue-600">Notre
  mission</h1>

<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_missions-et-valeurs2.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    Un soutien holistique aux personnes démunies
  </h1>

  <p data-aos="fade" data-aos-delay="500"
    class="text-lg md:text-2xl lg:text-3xl max-w-screen-sm font-semibold leading-8">
    Notre mission est de créer un monde où chaque orphelin, jeune démuni et veuve a la possibilité de renaître de
    nouveau,
    de mener une vie digne et épanouie, et de contribuer positivement à la société.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/charte"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      Notre charte
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Notre charte
    </a>
  </div>

</div>

<h1 class="text-3xl md:text-4xl lg:text-5xl text-center mt-32 mb-12 font-extrabold uppercase text-blue-600">Nos valeurs
</h1>

<div id="valeurs" class="cards-secondary mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/amour_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">L'amour</h1>
      <p class="card-text-secondary">Nous croyons en cet amour qui nous donne de pourvoir aimer l’autre comme nous
        même. Il nous amène à rechercher leur intérêt.</p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card-secondary">
    <img src="../../../../assets/img/foi_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">La Foi</h1>
      <p class="card-text-secondary">Croire que tout est possible, que je peux renaître de nouveau, que tout peut
        encore changer.</p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/esperance_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">L'Esperance</h1>
      <p class="card-text-secondary">Garder espoir sans jamais perdre courage, et persévérer même lorsque les
        défis semblent insurmontables.</p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/joie_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">La Joie</h1>
      <p class="card-text-secondary">La joie de voir les cœurs tristes se réjouir encore et le sourire revenir sur
        leurs lèvres</p>
    </div>
  </div>
</div>