<h1 data-aos="fade-right"
  class="text-3xl md:text-4xl lg:text-5xl text-center mt-32 mb-12 font-extrabold uppercase text-gray-800">Notre
  mission</h1>

<div class="relative bg-cover bg-center bg-no-repeat"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_missions-et-valeurs2.png'); background-attachment: fixed;">
  <div class="flex flex-col gap-10 px-4 pt-8 mx-auto max-w-screen-xl">
    <h1 data-aos="fade-right" data-aos-delay="200"
      class="mb-4 text-2xl md:text-5xl lg:text-6xl font-extrabold text-white">
      Un soutien holistique aux personnes démunies
    </h1>

    <p data-aos="fade" data-aos-delay="300"
      class="text-lg md:text-2xl lg:text-3xl max-w-screen-md mt-10 font-bold text-white">
      Notre mission est de créer un monde où chaque orphelin, jeune démuni et veuve a la possibilité de <span
        class="text-yellow">renaître de nouveau, de mener une vie digne et épanouie, et de contribuer positivement à la
        société</span>.
    </p>

    <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
      <a data-aos="fade-right" data-aos-delay="500" href="/charte" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium">Notre charte</a>
      <a data-aos="fade-right" data-aos-delay="400"
        href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Faire un
        Don</a>
    </div>

  </div>
</div>

<h1 data-aos="fade-right"
  class="text-3xl md:text-4xl lg:text-5xl text-center mt-20 mb-12 font-extrabold uppercase text-gray-800">Nos valeurs
</h1>

<!--
<div id="valeurs" class="cards-secondary mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/amour_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">L'amour</h1>
      <p class="card-text-secondary">Nous croyons en cet amour qui nous donne de pourvoir aimer l’autre comme nous
        même. Il nous amène à rechercher leur intérêt.</p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card-secondary">
    <img src="../../../../assets/img/foi_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">La Foi</h1>
      <p class="card-text-secondary">Croire que tout est possible, que je peux renaître de nouveau, que tout peut
        encore changer.</p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/esperance_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">L'Esperance</h1>
      <p class="card-text-secondary">Garder espoir sans jamais perdre courage, et persévérer même lorsque les
        défis semblent insurmontables.</p>
    </div>
  </div>

  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/joie_valeurs.png" alt="" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">La Joie</h1>
      <p class="card-text-secondary">La joie de voir les cœurs tristes se réjouir encore et le sourire revenir sur
        leurs lèvres</p>
    </div>
  </div>
</div>

-->

<div class="px-4 mx-auto max-w-screen-xl grid sm:grid-cols-2 gap-10">
  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img src="../../../../assets/img/amour_valeurs.png" alt="" class="card-img-secondary">

    <div class="flex flex-col gap-5 px-8 leading-normal">
      <h5 data-aos="fade-left"
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        L'AMOUR
      </h5>
      <p data-aos="fade" data-aos-delay="200"
        class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">
        Nous croyons en cet amour qui nous donne de pourvoir aimer l’autre comme nous
        même. Il nous amène à rechercher leur intérêt.
      </p>

    </div>

  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img src="../../../../assets/img/foi_valeurs.png" alt="" class="card-img-secondary">

    <div class="flex flex-col gap-5 px-8 leading-normal">
      <h5 data-aos="fade-left"
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        La Foi
      </h5>
      <p data-aos="fade" data-aos-delay="200"
        class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">Croire que tout est possible, que
        je peux renaître de nouveau, que tout peut
        encore changer.
      </p>

    </div>

  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img src="../../../../assets/img/esperance_valeurs.png" alt="" class="card-img-secondary">

    <div class="flex flex-col gap-5 px-8 leading-normal">
      <h5 data-aos="fade-left"
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        L'Esperance
      </h5>
      <p data-aos="fade" data-aos-delay="200"
        class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">Garder espoir sans jamais perdre
        courage, et persévérer même lorsque les
        défis semblent insurmontables.
      </p>

    </div>

  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img src="../../../../assets/img/joie_valeurs.png" alt="" class="card-img-secondary">

    <div class="flex flex-col gap-5 px-8 leading-normal">
      <h5 data-aos="fade-left"
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        La Joie
      </h5>
      <p data-aos="fade" data-aos-delay="200"
        class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">La joie de voir les cœurs tristes
        se réjouir encore et le sourire revenir sur
        leurs lèvres.
      </p>

    </div>

  </div>

</div>