<header>
  <app-header></app-header>
</header>

<main>

  <router-outlet></router-outlet>

  <app-agir-avec-nous *ngIf="showAgirAvecNous"></app-agir-avec-nous>

  <app-benevoles></app-benevoles>
</main>


<footer class="mt-96 relative flex flex-col gap-4 px-10 py-2 bg-blue-700 text-white">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="absolute left-0" style="bottom: 99%;">
    <path fill="#1A56DB" fill-opacity="1"
      d="M0,160L60,144C120,128,240,96,360,122.7 C480,149,600,235,720,234.7C840,235,960,149,1080,112C1200,75,1320,85,1380,90.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
    </path>
  </svg>

  <div class="title title-primary">Mentions légales</div>

  <div class="title title-third">Siège social</div>

  <p class="text">
    Cette association est régie par les articles 21 à 79-III du Code civil local
    maintenu en vigueur dans les départements du Haut-Rhin, du Bas-Rhin et de la Moselle,
    ainsi que par ses statuts et son règlement intérieur.
  </p>

  <span>
    <div class="left text-slate-300">© 2024 Créer avec le <span class="text-yellow">♡</span> par <span
        class="text-yellow"><a href="https://christopher973.github.io/Portfolio/" target="_blank">Christopher
          Marie-Angélique</a></span></div>

    <ul class="flex items-center justify-center gap-5 mt-10">
      <li><a href="https://www.instagram.com/renaitredenouveau_/" target="_blank"><img
            src="../assets/img/instagram-icon.png" alt="Liens des réseaux sociaux" class="w-8"></a></li>
      <li><a routerLink="/contact"><img src="../assets/img/whatapp-icon.png" alt="Liens des réseaux sociaux"
            class="w-8"></a></li>
      <li><a href="mailto:contact@renaitredenouveau.org"><img src="../assets/img/gmail-icon.png"
            alt="Liens des réseaux sociaux" class="w-8"></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100072441042941" target="_blank"><img
            src="../assets/img/facebook-icon.png" alt="Liens des réseaux sociaux" class="w-8"></a></li>
    </ul>
  </span>
</footer>