<div class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
    <h1
      class="mb-4 text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
      Agir avec nous
    </h1>

    <hr class="w-48 h-2 my-4 bg-yellow-300 border-0 rounded md:my-10 dark:bg-gray-700">
  </div>
</div>

<div class="px-4 mx-auto max-w-screen-xl grid grid-cols-1 gap-10">

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/partenaire-icon_agir-section.png" alt="">
    <div class="flex flex-col justify-between gap-5 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
        Devenir partenaire
      </h5>
      <p class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">En contribuant à des programmes
        concrets
        qui transforment des vies; ou en associant votre marque à une cause noble, renforçant votre image de marque et
        votre réputation.
      </p>
      <a href="/agir-don"
        class="inline-flex items-center px-4 py-2 text-lg max-w-48 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Soutenir une action
      </a>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/partenaire-icon_agir-section2.png" alt="">
    <div class="flex flex-col justify-between gap-5 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
        Devenir parrain
      </h5>
      <p class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">
        En offrant un soutien continu et personnalisé à un enfant ou une cause; ou en réalisant un impact significatif
        dans la vie d'un individu, en lui offrant des opportunités qu'il n'aurait pas autrement.
      </p>
      <a href="/agir-don"
        class="inline-flex items-center px-4 py-2 text-lg max-w-48 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Soutenir une action
      </a>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/partenaire-icon_agir-section3.png" alt="">
    <div class="flex flex-col justify-between gap-5 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
        Devenir adhérent
      </h5>
      <p class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">
        En contribuant directement à des initiatives locales qui répondent aux besoins de la communauté.
      </p>
      <a href="/agir-don"
        class="inline-flex items-center px-4 py-2 text-lg max-w-48 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Soutenir une action
      </a>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/partenaire-icon_agir-section4.png" alt="">
    <div class="flex flex-col justify-between gap-5 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
        Devenir bénévole
      </h5>
      <p class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">
        En montrant votre soutien continu à la mission et aux valeurs de l'organisation et en ayant votre mot à dire sur
        les décisions et les orientations de l'ONG en tant que membre à part entière.
      </p>
      <a href="/agir-don"
        class="inline-flex items-center px-4 py-2 text-lg max-w-48 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Soutenir une action
      </a>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/partenaire-icon_agir-section5.png" alt="">
    <div class="flex flex-col justify-between gap-5 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-yellow-300 dark:text-white">
        participer à une mission
      </h5>
      <p class="mb-3 font-semibold text-xl max-w-xl text-gray-500 dark:text-gray-400">
        En vivant une expérience unique en participant directement aux projets sur le terrain et en répondant à l'appel
        de l'action humanitaire, apportant votre aide là où elle est le plus nécessaire, souvent dans des environnements
        difficiles.
      </p>
      <a href="/agir-don"
        class="inline-flex items-center px-4 py-2 text-lg max-w-48 font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Soutenir une action
      </a>
    </div>
  </div>
</div>