<div class="flex flex-col padding-x padding-y">
  <h1 class="title title-primary font-bold text-yellow">Agir avec nous</h1>

  <hr class="line line-yellow">
</div>

<div class="cards-third">
  <div class="card-third">
    <img src="../../../assets/img/partenaire-icon_agir-section.png" alt="icon de la section agir"
      class="card-img-third">

    <div class="card-content-third">
      <h1 class="card-title-third">Devenir Partenaire</h1>
      <p class="card-text-third">
        En contribuez à des programmes concrets qui transforment des vies; ou en associant votre marque à une cause
        noble, renforçant votre image de marque et votre réputation.
      </p>
      <a href="/agir-don" class="card-third-btn">
        Soutenir l'action
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
    </div>
  </div>

  <div class="card-third">
    <img src="../../../assets/img/partenaire-icon_agir-section2.png" alt="icon de la section agir"
      class="card-img-third">

    <div class="card-content-third">
      <h1 class="card-title-third">Devenir Parrain</h1>
      <p class="card-text-third">
        En offrant un soutien continu et personnalisé à un enfant ou une cause; ou en réalisant un impact significatif
        dans la vie d'un individu, en lui offrant des opportunités qu'il n'aurait pas autrement.
      </p>
      <a href="/actions-projets/formation" class="card-third-btn">
        Soutenir l'action
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
    </div>
  </div>

  <div class="card-third">
    <img src="../../../assets/img/partenaire-icon_agir-section3.png" alt="icon de la section agir"
      class="card-img-third">

    <div class="card-content-third">
      <h1 class="card-title-third">Devenir Partenaire</h1>
      <p class="card-text-third">
        En contribuant directement à des initiatives locales qui répondent aux besoins de la communauté.
      </p>
      <a href="/actions-projets/formation" class="card-third-btn">
        Soutenir l'action
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
    </div>
  </div>

  <div class="card-third">
    <img src="../../../assets/img/partenaire-icon_agir-section4.png" alt="icon de la section agir"
      class="card-img-third">

    <div class="card-content-third">
      <h1 class="card-title-third">Devenir Partenaire</h1>
      <p class="card-text-third">
        En montrant votre soutien continu à la mission et aux valeurs de l'organisation et en ayant votre mot à dire sur
        les décisions et les orientations de l'ONG en tant que membre à part entière.
      </p>
      <a href="/actions-projets/formation" class="card-third-btn">
        Soutenir l'action
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
    </div>
  </div>

  <div class="card-third">
    <img src="../../../assets/img/partenaire-icon_agir-section5.png" alt="icon de la section agir"
      class="card-img-third">

    <div class="card-content-third">
      <h1 class="card-title-third">Devenir Partenaire</h1>
      <p class="card-text-third">
        En vivant une expérience unique en participant directement aux projets sur le terrain et en répondant à l'appel
        de l'action humanitaire, apportant votre aide là où elle est le plus nécessaire, souvent dans des environnements
        difficiles.
      </p>
      <a href="/actions-projets/formation" class="card-third-btn">
        Soutenir l'action
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
    </div>
  </div>
</div>