<div class="flex flex-col pd-x-2 padding-y">
  <h1 class="text-2xl md:text-3xl lg:text-4xl uppercase font-bold text-yellow-300">Agir avec nous</h1>

  <hr class="line line-yellow">
</div>

<div class="pd-x-2 grid gap-5">
  <div class="flex max-md:flex-col gap-5 shadow-lg">
    <img src="../../../assets/img/partenaire-icon_agir-section.png" alt="" class="md:w-[20vw]">
    <div class="relative flex flex-col gap-5 max-md:px-4">

      <h1 class="text-2xl md:text-4xl uppercase font-extrabold text-yellow-300">Devenir partenaire</h1>
      <p class="text-xl leading-9">
        En contribuant à des programmes concrets qui transforment des vies; ou en associant votre marque à une cause
        noble, renforçant votre image de marque et votre réputation.
      </p>
      <a href="/agir-don"
        class="md:absolute bottom-0 mr-auto bg-yellow-300 hover:bg-yellow-400 py-2 px-3 text-white uppercase font-medium">Soutenir
        une
        action</a>
    </div>
  </div>

  <div class="flex max-md:flex-col gap-5 shadow-lg">
    <img src="../../../assets/img/partenaire-icon_agir-section2.png" alt="" class="md:w-[20vw]">
    <div class="relative flex flex-col gap-5 max-md:px-4">

      <h1 class="text-2xl md:text-4xl uppercase font-extrabold text-yellow-300">Devenir Parrain</h1>
      <p class="text-xl leading-9">
        En offrant un soutien continu et personnalisé à un enfant ou une cause; ou en réalisant un impact significatif
        dans la vie d'un individu, en lui offrant des opportunités qu'il n'aurait pas autrement.
      </p>
      <a href="/agir-don"
        class="md:absolute bottom-0 mr-auto bg-yellow-300 hover:bg-yellow-400 py-2 px-3 text-white uppercase font-medium">Soutenir
        une action</a>
    </div>
  </div>

  <div class="flex max-md:flex-col gap-5 shadow-lg">
    <img src="../../../assets/img/partenaire-icon_agir-section3.png" alt="" class="md:w-[20vw]">
    <div class="relative flex flex-col gap-5 max-md:px-4">

      <h1 class="text-2xl md:text-4xl uppercase font-extrabold text-yellow-300">Devenir Adhérent</h1>
      <p class="text-xl leading-9">
        En contribuant directement à des initiatives locales qui répondent aux besoins de la communauté.
      </p>
      <a href="/agir-don"
        class="md:absolute bottom-0 mr-auto bg-yellow-300 hover:bg-yellow-400 py-2 px-3 text-white uppercase font-medium">Soutenir
        une action</a>
    </div>
  </div>

  <div class="flex max-md:flex-col gap-5 shadow-lg">
    <img src="../../../assets/img/partenaire-icon_agir-section4.png" alt="" class="md:w-[20vw]">
    <div class="relative flex flex-col gap-5 max-md:px-4">

      <h1 class="text-2xl md:text-4xl uppercase font-extrabold text-yellow-300">Devenir Bénévole</h1>
      <p class="text-xl leading-9">
        En montrant votre soutien continu à la mission et aux valeurs de l'organisation et en ayant votre mot à dire sur
        les décisions et les orientations de l'ONG en tant que membre à part entière.
      </p>
      <a href="/agir-don"
        class="md:absolute bottom-0 mr-auto bg-yellow-300 hover:bg-yellow-400 py-2 px-3 text-white uppercase font-medium">Soutenir
        une action</a>
    </div>
  </div>

  <div class="flex max-md:flex-col gap-5 shadow-lg">
    <img src="../../../assets/img/partenaire-icon_agir-section5.png" alt="" class="md:w-[20vw]">
    <div class="relative flex flex-col gap-5 max-md:px-4">

      <h1 class="text-2xl md:text-4xl uppercase font-extrabold text-yellow-300">Participer à une Mission</h1>
      <p class="text-xl leading-9">
        En vivant une expérience unique en participant directement aux projets sur le terrain et en répondant à l'appel
        de l'action humanitaire, apportant votre aide là où elle est le plus nécessaire, souvent dans des environnements
        difficiles.
      </p>
      <a href="/agir-don"
        class="md:absolute bottom-0 mr-auto bg-yellow-300 hover:bg-yellow-400 py-2 px-3 text-white uppercase font-medium">Soutenir
        une action</a>
    </div>
  </div>
</div>