<div class="flex flex-col gap-10 justify-center text-center mt-20 padding-x padding-y bg-blue-600 text-white">
  <h1 data-aos="fade-right" class="title text-xl font-bold md:text-3xl lg:text-4xl">ENSEMBLE VERS L'AUTONOMIE
    PROFESSIONNELLE ET LE DÉVELOPPEMENT ÉCONOMIQUE</h1>

  <p data-aos="fade" data-aos-delay="400" class="text">
    Nous Formons et insérons professionnellement. Notre objectif : donner les clés de l'indépendance aux jeunes et aux
    veuves. De la formation artisanale à l'entrepreneuriat, nous façonnons un avenir solide pour tous.
  </p>

  <div data-aos="fade-right">
    <a href="#"
      class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
      Soutenir les veuves
      <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </a>
  </div>
</div>


<div class="cards-secondary mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card-secondary">
    <img src="../../../../assets/img/education1.png" alt="Section formation" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">La formation</h1>

      <p class="card-text-secondary">Apprendre, c'est possible ! Nous offrons des formations spécialisées dans les
        métiers de l'artisanat et bien d'autres encore. Pour les jeunes et les veuves, l'alphabétisation est également
        une priorité, ouvrant ainsi la voie vers de nouvelles opportunités.</p>
    </div>

  </div>

  <div data-aos="zoom-in-left" class="card-secondary">

    <img src="../../../../assets/img/education1.png" alt="Section Insertion professionnelle" class="card-img-secondary">

    <div class="card-content-secondary">
      <h1 class="card-title-secondary">Insertion professionnelle</h1>

      <p class="card-text-secondary">Découvrez nos programmes d'insertion professionnelle : coopératives et
        microentreprises pour les veuves et femmes défavorisées, avec un accompagnement complet (technique, financier,
        matériel), et développement agricole avec unités de transformation et conservation.</p>
    </div>

  </div>
</div>