<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
  <h1 data-aos="fade-right" class="text-white font-extrabold text-2xl md:text-3xl lg:text-5xl">ENSEMBLE VERS L'AUTONOMIE
    PROFESSIONNELLE ET LE DÉVELOPPEMENT ÉCONOMIQUE
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Nous Formons et insérons professionnellement. Notre objectif : <span class="text-yellow">donner les clés de
      l'indépendance aux jeunes et aux
      veuves.</span> De la formation artisanale à l'entrepreneuriat, <span class="text-yellow">nous façonnons un avenir
      solide pour
      tous</span>.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/evenements/je-n-ai-pas-mes-fournitures-scolaires"
      target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Soutenir les jeunes en difficultés
    </a>

    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/evenements/je-n-ai-pas-mes-fournitures-scolaires"
      target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg bg-white hover:bg-gray-200 focus:ring-4 focus:ring-white">
      Soutenir les veuves
    </a>
  </div>
</div>

<div class="cards mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="card">
    <img src="../../../../assets/img/formation.png" alt="" class="card-img">

    <div class="card-content">
      <h1 class="card-title">La formation</h1>
      <p class="card-text">
        Apprendre, c'est possible ! Nous offrons des formations spécialisées dans les métiers de l'artisanat et bien
        d'autres encore. Pour les jeunes et les veuves, l'alphabétisation est également une priorité, ouvrant ainsi la
        voie vers de nouvelles opportunités.
      </p>
    </div>
  </div>

  <div data-aos="zoom-in-left" class="card">
    <img src="../../../../assets/img/formation-insertion-pro.png" alt="" class="card-img">

    <div class="card-content">
      <h1 class="card-title">Insertion professionnelle</h1>
      <p class="card-text">
        Découvrez nos programmes d'insertion professionnelle : coopératives et microentreprises pour les veuves et
        femmes défavorisées, avec un accompagnement complet (technique, financier, matériel), et développement agricole
        avec unités de transformation et conservation.
      </p>
    </div>
  </div>
</div>