<div class="flex flex-col gap-10 justify-center text-center mt-32 pd-x-2 padding-y bg-blue-600 text-white">
    <h1 data-aos="fade-right" class="title text-xl font-bold md:text-3xl lg:text-4xl">ENSEMBLE VERS L'AUTONOMIE PROFESSIONNELLE ET LE DÉVELOPPEMENT ÉCONOMIQUE</h1>

    <p data-aos="fade" data-aos-delay="400" class="text">
        Nous Formons et insérons professionnellement. Notre objectif : donner les clés de l'indépendance aux jeunes et aux veuves. De la formation artisanale à l'entrepreneuriat, nous façonnons un avenir solide pour tous.
    </p>

    <div data-aos="fade-right" class="flex gap-5 mx-auto">
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/evenements/je-n-ai-pas-mes-fournitures-scolaires" target="_blank"
            class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
            Soutenir les jeunes en difficultés
        </a>
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/evenements/je-n-ai-pas-mes-fournitures-scolaires" target="_blank"
            class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
            Soutenir les veuves
        </a>
    </div>
</div>

<div class="cards mt-20 bg-gray-100 py-10" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="card">
        <img src="../../../../assets/img/formation.png" alt="" class="card-img">

        <div class="card-content">
            <h1 class="card-title">La formation</h1>
            <p class="card-text">
                Apprendre, c'est possible ! Nous offrons des formations spécialisées dans les métiers de l'artisanat et bien d'autres encore. Pour les jeunes et les veuves, l'alphabétisation est également une priorité, ouvrant ainsi la voie vers de nouvelles opportunités.
            </p>
        </div>
    </div>

    <div data-aos="zoom-in-left" class="card">
        <img src="../../../../assets/img/formation-insertion-pro.png" alt="" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Insertion professionnelle</h1>
            <p class="card-text">
                Découvrez nos programmes d'insertion professionnelle : coopératives et microentreprises pour les veuves et femmes défavorisées, avec un accompagnement complet (technique, financier, matériel), et développement agricole avec unités de transformation et conservation.
            </p>
        </div>
    </div>
</div>