<div class="bg-cover bg-center mt-20"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/sans-abris_qui-sommes-nous.png'); background-attachment: fixed;">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
            SOUTENIR LES SANS-ABRIS AVEC RENAITRE DE NOUVEAU
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            Renaitre de Nouveau s'engage à <span class="text-yellow">apporter un soutien crucial aux sans-abris</span>,
            leur offrant bien plus qu'un
            simple abri. Notre approche holistique vise à <span class="text-yellow">restaurer la dignité de ces
                individus en leur fournissant un
                accompagnement personnalisé, des ressources essentielles et un soutien émotionnel</span>. À travers nos
            programmes
            innovants, nous travaillons main dans la main avec les sans-abris pour les aider à reconstruire leur vie et
            à retrouver leur place dans la société. Chez Renaitre de Nouveau, chaque individu compte, et nous sommes
            déterminés à leur <span class="text-yellow">offrir l'espoir et les outils nécessaires pour un avenir
                meilleur</span>.
        </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="#"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                En savoir plus
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            <a href="#"
                class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Faire un Don
            </a>
        </div>
    </div>
</div>

<div class="flex flex-col gap-10 justify-center text-center mt-20 padding-x padding-y bg-blue-600 text-white">
    <p class="text">
        Être sans-abri, c'est bien plus qu'une absence de toit ; c'est une lutte quotidienne contre l'incertitude, la
        vulnérabilité et l'exclusion sociale. Chez Renaitre de Nouveau, nous comprenons que derrière chaque personne
        sans-abri se cache une histoire, une dignité et un potentiel inexploité. C'est pourquoi nous nous engageons à
        offrir bien plus qu'un toit. Notre action commence par le relogement, offrant un refuge sûr et stable pour
        prévenir les problèmes de santé et l'insécurité. Mais notre soutien ne s'arrête pas là. Nous accompagnons chaque
        individu dans leur réinsertion sociale et professionnelle, les aidant à retrouver leur place dans la société et
        à restaurer leur estime de soi. Parce que chaque être humain mérite une seconde chance, nous croyons en la
        puissance de la solidarité pour redonner espoir aux plus vulnérables.
    </p>

    <div>
        <a href="#"
            class="inline-flex justify-center items-center py-3 px-5 bg-yellow-300 rounded font-medium hover:bg-yellow-400">
            Faire un Don
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </a>
    </div>
</div>