<div class="relative bg-cover bg-center flex flex-col text-white gap-10 px-4 pt-24 pb-32 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/sans-abris_qui-sommes-nous.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-5xl uppercase font-extrabold">
    SOUTENIR LES SANS-ABRIS AVEC RENAITRE DE NOUVEAU
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="text-xl md:text-2xl max-w-screen-md font-semibold leading-8">
    Renaitre de Nouveau s'engage à <span class="text-yellow">apporter un soutien crucial aux sans-abris</span>,
    leur offrant bien plus qu'un
    simple abri. Notre approche holistique vise à <span class="text-yellow">restaurer la dignité de ces
      individus en leur fournissant un
      accompagnement personnalisé, des ressources essentielles et un soutien émotionnel</span>. À travers nos
    programmes
    innovants, nous travaillons main dans la main avec les sans-abris pour les aider à reconstruire leur vie et
    à retrouver leur place dans la société. Chez Renaitre de Nouveau, chaque individu compte, et nous sommes
    déterminés à leur <span class="text-yellow">offrir l'espoir et les outils nécessaires pour un avenir
      meilleur</span>.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/actions-projets/sans-abris#content"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      En savoir plus
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Faire un Don
    </a>
  </div>

</div>

<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl lg:text-2xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Être sans-abri, c'est bien plus qu'une absence de toit ; c'est une lutte quotidienne contre l'incertitude, la
    vulnérabilité et l'exclusion sociale. Chez Renaitre de Nouveau, nous comprenons que derrière chaque personne
    sans-abri se cache une histoire, une dignité et un potentiel inexploité. C'est pourquoi nous nous engageons à
    offrir bien plus qu'un toit. Notre action commence par le relogement, offrant un refuge sûr et stable pour
    prévenir les problèmes de santé et l'insécurité. Mais notre soutien ne s'arrête pas là. Nous accompagnons chaque
    individu dans leur réinsertion sociale et professionnelle, les aidant à retrouver leur place dans la société et
    à restaurer leur estime de soi. Parce que chaque être humain mérite une seconde chance, nous croyons en la
    puissance de la solidarité pour redonner espoir aux plus vulnérables.
  </p>
</div>