<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
  <h1 data-aos="fade-right" class="text-white font-extrabold text-2xl md:text-3xl lg:text-5xl">Nos Événements</h1>

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Rejoignez-nous pour des événements inspirants qui célèbrent la solidarité et l'espoir. Que ce soit
    à travers des ateliers, des conférences ou des campagnes, chaque moment passé ensemble renforce notre mission et
    créer un impact positif durable dans nos cimmunautés.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Faire un Don
    </a>
  </div>
</div>

<div class="bg-cover bg-center mt-20"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../assets/img/hero-banner_evenements1.png'); background-attachment: fixed;">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32">
    <h1 data-aos="fade-right"
      class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
      ACTION COMPASSION ET SOLIDARITÉ
    </h1>
    <p data-aos="fade" data-aos-delay="400" class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
      Noël approche, et à cette occasion, nous lançons une cagnotte pour <span class="text-yellow">offrir des cadeaux
        aux enfants orphelins, hospitalisés, défavorisés et handicapés</span> du Bénin. Qu'est-ce qu'un Noël sans
      cadeaux, sans sourires, sans bonheur pour ces enfants ? Chaque geste de votre part <span
        class="text-yellow">contribuera pleinement à leur joie</span>.
      Votre aide est précieuse !
      N'oubliez pas, vous pouvez <span class="text-yellow">bénéficier d'une réduction d'impôt</span> : un don de 20€ ne
      vous coûtera que 5€ après déduction fiscale !
    </p>
    <div data-aos="fade-right" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/evenements/un-don-pour-un-sourire"
        target="_blank"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Faire un Don
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
      <a href="../../../assets/img/fiche-evenements1.png" target="_blank"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        Voir la fiche
      </a>
    </div>
  </div>
</div>

<div class="bg-cover bg-center mt-20"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../assets/img/hero-banner_evenements2.png'); background-attachment: fixed;">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32">
    <h1 data-aos="fade-right"
      class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
      UN REPAS POUR UN SOURIRE
    </h1>
    <p data-aos="fade" data-aos-delay="400" class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
      Noël approche et dans le cadre de nos projets et actions, nous <span class="text-yellow">organisons une
        distribution de repas dénommée ‘’Un repas, Un Sourire’’ au profit des sans-abris</span>.

      L’objectif est de pourvoir offrir aux sans-abris de repas et de boissons pour leur fête de Noel.

      Noël étant un <span class="text-yellow">moment de joie, de partage, d’entraide et de convivialité</span>, ce don
      ne serait qu’une joie pour les bénéficiaires.

      A propos de la distribution de repas

      Elle se tiendra le 22, 23 et 24 décembre sur Strasbourg pour environ 100 personnes vivant dans la rue.
    </p>
    <div data-aos="fade-right" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
      <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Faire un Don
        <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9" />
        </svg>
      </a>
      <a href="../../../assets/img/fiche-evenements2.png" target="_blank"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
        Voir la fiche
      </a>
    </div>
  </div>
</div>