<div class="relative bg-cover bg-center flex flex-col text-white gap-32 px-4 pt-8 md:px-10 lg:px-28 mt-32"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_qui-sommes-nous2.png'); background-attachment: fixed;">

  <h1 data-aos="fade-right" class="text-2xl md:text-4xl lg:text-6xl uppercase font-extrabold">
    Donner la chance aux personnes démunies de Renaître de Nouveau sur tous les plans
  </h1>

  <p data-aos="fade" data-aos-delay="500" class="mb-32 text-lg md:text-2xl lg:text-3xl max-w-screen-sm font-semibold"
    style="line-height: 3rem;">
    Nous sommes une <span class="text-yellow">association de solidarité</span> qui œuvrons en faveur
    des personnes démunies à savoir <span class="text-yellow">les orphelins, les jeunes en difficultés et les
      veuves</span>
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/missions-et-valeurs"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-yellow-300">
      Nos missions & valeurs
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300 ">
      Notre charte
    </a>
  </div>


</div>

<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
  <h1 data-aos="fade-right" class="text-white font-extrabold text-3xl md:text-5xl lg:text-6xl">Pourquoi</h1>

  <p data-aos="fade" data-aos-delay="500" class="text-xl md:text-4xl lg:text-5xl text-yellow-300 font-semibold"
    style="line-height: 4rem;">
    Car travailler pour le bien-être de ces personnes démunies est pour nous plus qu'une valeur, c'est une nécessité
    absolue.
  </p>

</div>

<div class="pd-x-2 mt-32">
  <div>
    <h1 class="p-title mb-20">Les orphelins</h1>
    <div class="p-cards">
      <div class="p-card">
        <h1 class="p-card-title">Soutien éducatif</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">

        <p class="p-card-text"><span class="font-semibold">Fourniture de Matériel Scolaire</span> : Distribution de
          fournitures scolaires, uniformes et livres pour permettre aux orphelins
          de poursuivre leur éducation sans obstacles matériels.

        </p>

        <p class="p-card-text"><span class="font-semibold">Cours de Rattrapage</span> : Organisation de cours de
          soutien
          pour les élèves en
          difficulté afin de les aider à
          améliorer leurs performances académiques
        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Soutien psychosocial</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Counseling </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Activités Récréatives et Culturelles</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Soutien matériel</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Hébergement </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Nourriture et Soins de Santé</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Intégration social</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Counseling </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Activités Récréatives et Culturelles</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

    </div>
  </div>
</div>