<div class="relative bg-cover bg-center bg-no-repeat mt-44"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/hero-banner_qui-sommes-nous2.png'); background-attachment: fixed;">
  <div class="flex flex-col gap-5 px-4 pt-8 mx-auto max-w-screen-xl">
    <h1 data-aos="fade-right" class="mb-4 text-2xl md:text-5xl lg:text-6xl font-extrabold text-white" style="line-height: 4.5rem;">
      Donner la chance aux personnes démunies de Renaître de Nouveau sur tous les plans
    </h1>

    <p data-aos="fade" data-aos-delay="200"
      class="text-lg md:text-2xl lg:text-3xl max-w-screen-md mt-10 font-bold text-white">
      Nous sommes une <span class="text-yellow">association de solidarité</span> qui œuvrons en faveur des personnes
      démunies à savoir <span class="text-yellow">les orphelins, les jeunes en difficultés et les veuves</span>
    </p>

    <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2 mt-10">
      <a data-aos="fade-right" data-aos-delay="400" href="/missions-et-valeurs" target="_blank"
        class="py-2 px-5 text-lg rounded-lg text-white bg-blue-600 hover:bg-blue-700 font-medium">Nos missions
        &
        valeurs</a>
      <a data-aos="fade-right" data-aos-delay="300"
        href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
        class="py-2 px-5   rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Faire un
        Don</a>
    </div>

  </div>
</div>

<div class="bg-blue-600 dark:bg-gray-900 mt-20">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8">
    <div class="flex flex-col gap-5">
      <h1 data-aos="fade-right" class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-white">
        Pourquoi ?</h1>
      <p data-aos="fade" data-aos-delay="200"
        class="pourquoi-text text-2xl md:text-4xl lg:text-5xl leading-none font-medium text-yellow-300">
        Car travailler pour le bien-être de ces personnes démunies est pour nous plus qu'une valeur, c'est une nécessité
        absolue.
      </p>
    </div>
  </div>
</div>

<!-- Slider Carousel -->
<div class="max-w-screen-xl px-4 mx-auto w-full md:w-[90vw] lg:w-[95vw] h-[45vh] md:h-[50vh] lg:h-[90vh] mt-10">
  <i>Pour obtenir plus d'informations cliquez sur le bouton</i>
  <div id="content-carousel" data-carousel="slide" data-carousel-interval="7000" class="relative h-full w-full overflow-hidden z-10">
    <!-- Carousel wrapper -->
    <div class="relative h-full overflow-hidden rounded-lg">

      <div data-carousel-item
        class="bg-cover bg-center flex flex-col gap-10 px-8 justify-center items-center duration-300 ease-in-out"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/carousel-orphelin.jpg');">

        <h1
          class="max-w-screen-lg text-center text-lg md:text-4xl lg:text-5xl font-extrabold tracking-tight leading-none text-white">
          Orphelins / Enfants de la rue / Exploités
        </h1>
        
        <div class="flex flex-col gap-5 justify-center">
          <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
          style="line-height: 2.5rem;">
          Fournir un soutien complet couvrant les besoins éducatifs, émotionnels, matériels etc.
        </p>
        <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
        style="line-height: 2.5rem;">
          Créer un environnement favorable où chaque orphelin peut s'épanouir et devenir autonome.          
        </p>
        </div>

        <a href="qui-sommes-nous#orphelin" (click)="choice = 'orphelin'"
          class="inline-flex items-center py-3 px-5 mx-auto text-sm sm:text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">En
          savoir plus</a>

      </div>

      <div data-carousel-item
        class="bg-cover bg-center flex flex-col gap-10 px-8 justify-center items-center duration-300 ease-in-out"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/carousel-jeunes.jpg');">

        <h1
          class="max-w-screen-lg text-center text-lg md:text-4xl lg:text-5xl font-extrabold tracking-tight leading-none text-white">
          Jeunes de la rue / en difficultés
        </h1>
        
        <div class="flex flex-col gap-5 justify-center">
          <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
          style="line-height: 2.5rem;">
          Offrir un mélange de soutien de base, psychosocial, éducatif, professionnel et social
        </p>
        <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
        style="line-height: 2.5rem;">
          Créer un environnement où ils peuvent reconstruire leur vie, développer leurs compétences et devenir des membres actifs et autonomes de la société.          
        </p>
        </div>

        <a href="qui-sommes-nous#jeunes" (click)="choice = 'jeunes'"
          class="inline-flex items-center py-3 px-5 mx-auto text-sm sm:text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">En
          savoir plus</a>

      </div>

      <div data-carousel-item
        class="bg-cover bg-center flex flex-col gap-2 px-8 justify-center items-center duration-300 ease-in-out"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../assets/img/carousel-veuves.jpg');">

        <h1
          class="max-w-screen-lg text-center text-4xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
          Veuves / Familles abandonnées
        </h1>
        <div class="flex flex-col gap-5 justify-center">
          <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
          style="line-height: 2.5rem;">
          Fournir un soutien économique, matériel, professionnel, psychosocial, éducatif etc, 

        </p>
        <p class="hidden sm:block px-10 max-w-screen-lg text-justify text-lg md:text-xl font-semibold text-yellow lg:text-3xl"
        style="line-height: 2.5rem;">
        Créer un environnement propice à leur autonomie et à leur épanouissement personnel pour qu’elles trouvent les ressources et le soutien nécessaires pour surmonter les défis et construire un avenir meilleur.
        </p>
        </div>
        <a href="qui-sommes-nous#veuves" (click)="choice = 'veuves'"
          class="inline-flex items-center py-3 px-5 mx-auto text-sm sm:text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">En
          savoir plus</a>

      </div>

    </div>
    <!-- Slider controls -->
    <button type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span
        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>

<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 mt-10" style="overflow-x: hidden;">

  <div id="orphelin">
    <h1 data-aos="fade-right" class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-yellow-300">Orphelins / Enfants de la rue / Exploités</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">SOUTIEN ÉDUCATIF</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/ophelin-soutien-educatif.jpg" alt="" />

        <div class="p-5">

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span
              class="font-bold">Fourniture de Matériel
              Scolaire :</span> Distribution de fournitures scolaires, uniformes et livres pour permettre aux orphelins
            de
            poursuivre leur éducation sans obstacles matériels.</p>

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Cours de
              rattrapage
              :</span> Organisation de cours de soutien pour les élèves en difficulté afin de les aider à
            améliorer leurs performances académiques</p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight text-blue-600 dark:text-white">SOUTIEN PSYCHOSOCIAL</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-psychosocial.jpg" alt="" />

        <div class="p-5">

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span
              class="font-bold">Counseling :</span>
            Mise en place de séances de counseling pour aider les enfants à surmonter leurs traumatismes et à développer
            une résilience émotionnelle.
          </p>

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Activités
              Récréatives et
              Culturelles
              :</span> Organisation d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social
            des enfants.
          </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">soutien matériel
        </h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/orphelin-soutien-materiel.jpg" alt="" />

        <div class="p-5">

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span
              class="font-bold">Hébergement :</span>
            Créer des centres d'accueil offrant un environnement sûr et stable pour les enfants de la rue et les
            orphelins.

          </p>

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span
              class="font-bold">Nourriture et Soins de
              Santé
              :</span> Fourniture de colis alimentaires et accès à des soins médicaux réguliers pour assurer la bonne
            santé des orphelins.

          </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Intégration
          Sociale
        </h5>

        <img class="rounded-lg p-4 " src="../../../../assets/img/orphelin-integration-sociale.jpg" alt="" />

        <div class="p-5">

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Mentorat
              :</span>
            Mise en place de programmes de mentorat où des adultes bienveillants accompagnent les orphelins dans leur
            développement personnel et professionnel.

          </p>

          <p data-aos="fade" class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Projets
              Communautaires
              :</span> Encouragement à la participation des orphelins dans des projets communautaires pour renforcer
            leur
            sentiment d'appartenance et leur donner un rôle actif dans la société.

          </p>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Parrainage
              :</span> Parrainage par des familles ou des individus pour fournir un soutien moral et financier.
          </p>
        </div>
      </div>

    </div>
  </div>

  <div id="jeunes" >
    <h1 data-aos="fade-right" class="pt-20 text-4xl md:text-5xl lg:text-6xl font-extrabold text-yellow-300">Jeunes de la rue / en difficultés</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="300"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Éducation et Formation</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/jeunes-acces-education.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 text-lg font-normal text-blue-600 dark:text-gray-400"><span class="font-bold">Accès à l'éducation
            :</span>
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Rattrapage Scolaire
          :</span>
        Programmes éducatifs pour aider les jeunes à reprendre leur scolarité et à obtenir des diplômes.
      </p>

      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Formation Professionnelle
          :</span> Cours de formation professionnelle pour acquérir des compétences pratiques dans divers métiers.
      </p>

        <p class="mb-3 text-lg font-normal text-blue-600 dark:text-gray-400"><span class="font-bold">Soutien scolaire
            :</span>
        </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Fourniture de Matériel
            :</span>
          Distribution de fournitures scolaires, manuels et uniformes.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Soutien Financier
            :</span> Prise en charge dans des formations spécialisées.
        </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 data-aos="fade-left" data-aos-delay="300"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Formation & Insertion Professionnelle</h5>


        <img class="rounded-lg p-4 w-full" src="../../../../assets/img/jeunes-formationjpg.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Orientation
              Professionnelle
              :</span>
            Conseils en orientation pour aider les jeunes à identifier et à suivre des parcours professionnels qui
            correspondent à leurs intérêts et aptitudes.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Stages Professionnels
              :</span> Placement en stages pour acquérir une expérience professionnelle concrète.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Aide à l'Emploi
              :</span> Assistance dans la recherche d'emploi, rédaction de CV et préparation aux entretiens.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes
              d'Entrepreneuriat
              :</span> Formation et soutien aux jeunes souhaitant démarrer leur propre entreprise, y compris des
            micro-crédits et des conseils en gestion d'entreprise.


          </p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Soutien
          Psychosocial</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/jeunes-conseils-therapie.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 text-lg font-normal text-blue-600 dark:text-gray-400"><span class="font-bold">Conseils & thérapie
            :</span>
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Counseling Individuel et
              de Groupe
              :</span>
            Séances de thérapie pour aider les jeunes à surmonter leurs traumatismes et à développer des mécanismes de
            résilience.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Soutien Émotionnel
              :</span> Présence d’adultes bienveillants dans le domaine médico-social afin de fournir un soutien
            émotionnel continu.
          </p>

          <p class="mb-3 text-lg font-normal text-blue-600 dark:text-gray-400"><span class="font-bold">Activités récréatives & culturelles 
            :</span>
        </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Sports et Loisirs
            :</span>
          Organisation d'activités sportives et récréatives pour favoriser le développement social et physique des
          jeunes.
        </p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Ateliers Artistiques
            :</span> Ateliers de musique, d'art et de théâtre pour encourager l'expression créative et renforcer la
          confiance en soi.
        </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Intégration Sociale Professionnelle</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/jeunes-integration-sociale.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes de Mentorat
              :</span>
            Mise en relation avec des mentors qui peuvent offrir des conseils et un soutien à long terme.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Parrainage
              :</span> Parrainage par des familles ou des individus pour fournir un soutien moral et financier.

          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Partenariats
              :</span> Collaboration avec d'autres organisations et structures pour maximiser l'impact des actions
            menées.
          </p>
        </div>
      </div>
    </div>

  </div>

  <div id="veuves" >
    <h1 data-aos="fade-right" class="pt-20 text-4xl md:text-5xl lg:text-6xl font-extrabold text-yellow-300">Veuves / Familles abandonnées</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Soutien
          Économique et
          Matériel</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/veuves-soutien-economique.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Microcrédits
              Scolaire :</span> Octroi de microcrédits pour encourager les veuves à démarrer des petites entreprises et
            à devenir financièrement indépendantes.</p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Mise en place des
              coopératives
              :</span> Dispositif d'accompagnement et de soutien technique, financier, matériel…</p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Aide Matérielle
              :</span> Fournir des biens de première nécessité tels que des vêtements, de la nourriture, des fournitures
            scolaires et des produits d'hygiène.
          </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Formation
          Professionnelle
        </h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/veuves-formation.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes de Formation
              :</span>
            Cours de formation professionnelle pour acquérir de nouvelles compétences et améliorer l'employabilité.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Ateliers de Développement
              des Compétences
              :</span> Ateliers sur des compétences pratiques telles que la couture, la cuisine, l'artisanat, etc
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes
              d'Alphabétisation
              :</span> Cours pour améliorer les compétences en lecture et écriture, essentiels pour l'emploi et la
            gestion des affaires.
          </p>
        </div>
      </div>

    </div>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-10">

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Counseling et
          Thérapie</h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/veuves-therapie.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Soutien Psychologique
              :</span>
            Séances de counseling pour aider les veuves et les familles abandonnées à surmonter leurs traumatismes
            et
            à gérer le stress et l'anxiété.

          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Groupes de Soutien
              :</span> Organisation de groupes de soutien où les femmes peuvent partager leurs expériences et
            trouver
            du réconfort auprès de leurs pairs.

          </p>
        </div>
      </div>

      <div class="max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

        <h5 data-aos="fade-left" data-aos-delay="200"
          class="mb-2 p-5 text-2xl font-bold tracking-tight uppercase text-blue-600 dark:text-white">Activités
          Récréatives et Culturelles

        </h5>

        <img class="rounded-lg p-4" src="../../../../assets/img/veuves-activites.jpg" alt="" />

        <div data-aos="fade" class="p-5">

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Activités Sociales
              :</span>
            Organisation d'événements et d'activités sociales pour favoriser l'intégration sociale et briser
            l'isolement.
          </p>

          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><span class="font-bold">Programmes Culturels
              :</span> Participation à des événements culturels pour enrichir la vie sociale et culturelle des
            veuves
            et de leurs enfants

          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="pd-x-2 mt-32">
  <div>
    <h1 class="p-title mb-20">Les orphelins</h1>
    <div class="p-cards">
      <div class="p-card">
        <h1 class="p-card-title">Soutien éducatif</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">

        <p class="p-card-text"><span class="font-semibold">Fourniture de Matériel Scolaire</span> : Distribution de
          fournitures scolaires, uniformes et livres pour permettre aux orphelins
          de poursuivre leur éducation sans obstacles matériels.

        </p>

        <p class="p-card-text"><span class="font-semibold">Cours de Rattrapage</span> : Organisation de cours de
          soutien
          pour les élèves en
          difficulté afin de les aider à
          améliorer leurs performances académiques
        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Soutien psychosocial</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Counseling </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Activités Récréatives et Culturelles</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Soutien matériel</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Hébergement </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Nourriture et Soins de Santé</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

      <div class="p-card">
        <h1 class="p-card-title">Intégration social</h1>

        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="" class="p-img">


        <p class="p-card-text"><span class="font-semibold">Counseling </span> : Mise en place de séances de counseling
          pour aider les enfants à surmonter leurs traumatismes et à développer une résilience émotionnelle.

        </p>

        <p class="p-card-text"><span class="font-semibold">Activités Récréatives et Culturelles</span> : Organisation
          d'activités ludiques et culturelles pour favoriser le bien-être émotionnel et social des enfants.

        </p>

      </div>

    </div>
  </div>
</div>
-->