<div class=" mt-10 bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
        <div class="flex flex-col justify-center">
            <h1
                class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
                Renaitre de Nouveau : Renouveau pour les plus vulnérables</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Nous sommes une association
                de solidarité qui oeuvre en faveur des personnes dmunies à savoir les orphelins, les jeunes et les
                veuves. Les valeurs que nous partageons sont une nécessité absolue, et nous avons la volonté de leur
                donner une chance de renaître de nouveau.</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
                <a href="#"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    En savoir plus
                    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
                <a href="#"
                    class="py-3 px-5 sm:ms-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Faire un Don
                </a>
            </div>
        </div>
        <div>
            <img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
                src="../../../../assets/img/hero-banner_qui-sommes-nous.png" alt="">
        </div>
    </div>
</div>

<div class="cards mt-20 bg-gray-100 py-10">
    <div class="card">
        <img src="../../../../assets/img/orphelins_qui-sommes-nous.png" alt="Image de la section oprhelin" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Les Orphelins</h1>
            <p class="card-text">
                Nous offrons aux personnes vulnérables une opportunité de réussite et de renaissance complète en assurant leur accès aux besoins essentiels. De plus, nous nous engageons à garantir leur protection contre toute forme d'exploitation économique et autres abus.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="../../../../assets/img/jeunes_qui-sommes-nous.png" alt="Image de la section jeunes" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Les Jeunes</h1>
            <p class="card-text">
                Nous visons à offrir une formation visant à favoriser la réintégration sociale de ces individus. En parallèle, nous encourageons le développement d'activités personnelles pour accroître leur autonomie financière. Enfin, nous mettons en place des centres de formation professionnelle pour les accompagner dans leur apprentissage et leur développement entrepreneurial.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="../../../../assets/img/veuves_qui-sommes-nous.png" alt="Image de la section veuves" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Les Veuves</h1>
            <p class="card-text">
                Nous assurons la distribution de colis alimentaires, vestimentaires et scolaires pour répondre à leurs besoins essentiels. En parallèle, nous encourageons la création de coopératives pour favoriser leur autonomie économique. De plus, nous leur offrons des formations professionnelles et un soutien à l'entrepreneuriat pour les aider à construire un avenir meilleur.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="../../../../assets/img/sans-abris_qui-sommes-nous.png" alt="Image de la section sans abris" class="card-img">

        <div class="card-content">
            <h1 class="card-title">Les Sans-Abris</h1>
            <p class="card-text">
                Nous mettons en place des initiatives visant à offrir un refuge temporaire et des services de base aux personnes sans-abri, garantissant ainsi leur accès à un environnement sûr et sécurisé. En parallèle, nous proposons des programmes de réinsertion sociale pour les aider à retrouver leur autonomie et à reconstruire leur vie. De plus, nous collaborons avec d'autres organisations pour développer des solutions durables visant à lutter contre l'itinérance.
            </p>
        </div>
    </div>
</div>