<!--
<div class="relative bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
  <h1 data-aos="fade-right" class="text-white font-extrabold text-2xl md:text-3xl lg:text-5xl">Notre Charte, Ensemble
    pour un
    Monde Juste et Bienveillants</h1>

  <p data-aos="fade" data-aos-delay="500" class="text-lg md:text-xl text-white font-semibold"
    style="line-height: 2.5rem;">
    Chez Renaitre de Nouveau, nous nous engageons à <span class="text-yellow">cultiver une culture du bien, de la
      justice et de la
      protection des plus vulnérables</span>. Nous croyons fermement qu'il est de notre devoir de <span
      class="text-yellow">faire droit aux
      orphelins et de défendre les veuves</span>, tout en recherchant activement la justice pour tous. Nous nous
    tenons
    aux côtés des opprimés, offrant un refuge sûr et un soutien inconditionnel à ceux qui en ont le plus besoin.
    En travaillant ensemble, nous pouvons construire un avenir où <span class="text-yellow">chacun peut vivre dans
      la dignité et l'équité</span>.
  </p>

  <div data-aos="fade-up"
    class="absolute bottom-0 flex flex-col gap-2 space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
    <a href="/zone-intervention"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-yellow-300 hover:bg-yellow-400 focus:ring-4 focus:ring-yellow-300">
      Zone d'intervention
    </a>
    <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
      class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg bg-white hover:bg-gray-100 focus:ring-4 focus:ring-white ">
      Notre charte
    </a>
  </div>
</div>
-->

<div class="bg-blue-600 dark:bg-gray-900 mt-44">
  <div class="pt-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex flex-col gap-10">
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold text-white">
        Notre Charte, Ensemble pour un Monde Juste et Bienveillants</h1>
      <p class="text-lg md:text-xl lg:text-2xl font-medium text-white" style="line-height: 3rem;">
        Chez Renaitre de Nouveau, nous nous engageons à <span class="text-yellow">cultiver une culture du bien, de la
          justice et de la
          protection des plus vulnérables</span>. Nous croyons fermement qu'il est de notre devoir de <span
          class="text-yellow">faire droit aux
          orphelins et de défendre les veuves</span>, tout en recherchant activement la justice pour tous. Nous nous
        tenons
        aux côtés des opprimés, offrant un refuge sûr et un soutien inconditionnel à ceux qui en ont le plus besoin.
        En travaillant ensemble, nous pouvons construire un avenir où <span class="text-yellow">chacun peut vivre dans
          la dignité et l'équité</span>.
      </p>

      <div class="flex flex-col max-w-xs sm:max-w-full sm:flex-row gap-2">
        <a href="/missions-et-valeurs" target="_blank"
          class="py-2 px-5 text-lg rounded-lg text-white bg-yellow-300 hover:bg-yellow-400 font-medium">Nos missions
          &
          valeurs</a>
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
          class="py-2 px-5 text-lg rounded-lg text-gray-800 bg-white hover:bg-gray-200 font-medium">Faire un
          Don</a>
      </div>
    </div>
  </div>
</div>


<!--
<div class="charte-cards py-10 mt-32 pd-x-2" style="overflow-x: hidden;">
  <div data-aos="zoom-in-right" class="charte-card">
    <img src="../../../../assets/img/charte-icon1.png" alt="Image de la section charte" class="charte-img">
    <h1 class="charte-title">Apprenons à faire le biens, Recherchons la justice</h1>
  </div>

  <div data-aos="zoom-in-left" class="charte-card">
    <img src="../../../../assets/img/charte-icon2.png" alt="" class="charte-img">
    <h1 class="charte-title">Protégeons l'opprimé, l’indigent</h1>
  </div>

  <div data-aos="zoom-in-right" class="charte-card">
    <img src="../../../../assets/img/charte-icon3.png" alt="" class="charte-img">
    <h1 class="charte-title">Faisons droit à l'orphelin</h1>
  </div>

  <div data-aos="zoom-in-left" class="charte-card">
    <img src="../../../../assets/img/charte-icon5.png" alt="" class="charte-img">
    <h1 class="charte-title">Défendons la veuve</h1>
  </div>
</div>
-->

<div class="px-4 mx-auto max-w-screen-xl grid grid-cols-1 gap-10 mt-20">

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/charte-icon1.png" alt="">
    <div class="flex flex-col justify-between gap-5 max-md:py-10 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        Apprenons à faire le biens, Recherchons la justice
      </h5>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/charte-icon2.png" alt="">
    <div class="flex flex-col justify-between gap-5 max-md:py-10 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        Protégeons l'opprimé, l’indigent
      </h5>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/charte-icon3.png" alt="">
    <div class="flex flex-col justify-between gap-5 max-md:py-10 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        Faisons droit à l'orphelin
      </h5>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-auto md:w-96 md:rounded-none md:rounded-s-lg"
      src="../../../assets/img/charte-icon4.png" alt="">
    <div class="flex flex-col justify-between gap-5 max-md:py-10 px-8 leading-normal">
      <h5
        class="text-2xl md:text-4xl lg:text-5xl max-md:pt-4 font-extrabold tracking-tight leading-none text-blue-600 dark:text-white">
        Défendons la veuve
      </h5>
    </div>
  </div>
</div>