<div class="bg-cover bg-center mt-32" style="overflow-x: hidden;"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../../../assets/img/notre-charte_banner.png'); background-attachment: fixed;">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-32">
        <h1 data-aos="fade-right"  class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">Notre
            Charte, Ensemble pour un Monde Juste et Bienveillant</h1>
        <p data-aos="fade" data-aos-delay="400" class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            Chez Renaitre de Nouveau, nous nous engageons à <span class="text-yellow">cultiver une culture du bien, de la justice et de la
            protection des plus vulnérables</span>. Nous croyons fermement qu'il est de notre devoir de <span class="text-yellow">faire droit aux
            orphelins et de défendre les veuves</span>, tout en recherchant activement la justice pour tous. Nous nous tenons
            aux côtés des opprimés, offrant un refuge sûr et un soutien inconditionnel à ceux qui en ont le plus besoin.
            En travaillant ensemble, nous pouvons construire un avenir où <span class="text-yellow">chacun peut vivre dans la dignité et l'équité</span>.
        </p>
        <div data-aos="fade-up" class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href=""
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                En savoir plus
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
            <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank"
                class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Faire un Don
            </a>
        </div>
    </div>
</div>

<div>
    
</div>