<div class="bg-blue-600 mt-32 flex flex-col gap-10 py-20 pd-x-2">
    <h1 data-aos="fade-right" class="text-white text-center font-extrabold text-2xl md:text-3xl lg:text-5xl">Notre Charte, Ensemble pour un
        Monde Juste et Bienveillants</h1>

    <p data-aos="fade" data-aos-delay="500" class="text-white leading-8">
        Chez Renaitre de Nouveau, nous nous engageons à <span class="text-yellow">cultiver une culture du bien, de la
            justice et de la
            protection des plus vulnérables</span>. Nous croyons fermement qu'il est de notre devoir de <span
            class="text-yellow">faire droit aux
            orphelins et de défendre les veuves</span>, tout en recherchant activement la justice pour tous. Nous nous
        tenons
        aux côtés des opprimés, offrant un refuge sûr et un soutien inconditionnel à ceux qui en ont le plus besoin.
        En travaillant ensemble, nous pouvons construire un avenir où <span class="text-yellow">chacun peut vivre dans
            la dignité et l'équité</span>.
    </p>

    <div data-aos="fade-up" class="flex gap-5 justify-center">
        <a href="/zone-intervention" class="text-white bg-yellow-300 hover:bg-yellow-400 font-medium px-2 py-3 rounded">Zone
            d'intervention</a>
        <a href="https://www.helloasso.com/associations/ong-renaitre-de-nouveau/formulaires/1" target="_blank" class="bg-white hover:bg-gray-200 font-medium px-2 py-3 rounded">Faire un Don</a>
    </div>
</div>

<div class="charte-cards py-10 mt-32 pd-x-2" style="overflow-x: hidden;">
    <div data-aos="zoom-in-right" class="charte-card">
        <img src="../../../../assets/img/charte-icon1.png" alt="Image de la section charte" class="charte-img">
        <h1 class="charte-title">Apprenons à faire le biens, Recherchons la justice</h1>
    </div>

    <div data-aos="zoom-in-left" class="charte-card">
        <img src="../../../../assets/img/charte-icon2.png" alt="" class="charte-img">
        <h1 class="charte-title">Protégeons l'opprimé, l’indigent</h1>
    </div>

    <div data-aos="zoom-in-right" class="charte-card">
        <img src="../../../../assets/img/charte-icon3.png" alt="" class="charte-img">
        <h1 class="charte-title">Faisons droit à l'orphelin</h1>
    </div>

    <div data-aos="zoom-in-left" class="charte-card">
        <img src="../../../../assets/img/charte-icon5.png" alt="" class="charte-img">
        <h1 class="charte-title">Défendons la veuve</h1>
    </div>
</div>